<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/CSS/style-form.css">
    <link rel="shortcut icon" href="imagens/logorapa.png">
    <title>Cadastro Jurídico</title>
</head>

<body class="CorpoCadastro">
   <header class="header">

         <!-- MENU LATERAL -->
         <div class="left-sidebar" id="sidebar">

            <!-- LOGO DO TOPO -->
            <div class="LateralLinhaLogo">
                <a class="menu-logo" href="#">
                    <img id="logoDoMenuLateral" th:src="@{/icones/logorapa.png}">
                </a>
            </div>
            <!-- Botão de fechamento -->
            <div id="closeBtn" class="close-button">X</div>

            <!-- CONTEUDO DO CENTRO DO MENU -->
            <div class="conteudo-sidebar">
                <ul>
                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                <img th:src="@{/icones/cpu.png}">
                                <p class="nomeDasCategorias">Hardware</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/processador-32.png}">
                                    <p class="pCategoriasDropDown">Processadores</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/placa-mãe-32.png}">
                                    <p class="pCategoriasDropDown">Placa mãe</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/ram.png}">
                                    <p class="pCategoriasDropDown">Pentes de Memória</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/hdd-32.png}">
                                    <p class="pCategoriasDropDown">Disco Rígido interno (HD)</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                 <img th:src="@{/icones/gaming-pc.png}">
                                <p class="nomeDasCategorias">Computadores</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/compGamer.png}">
                                    <p class="pCategoriasDropDown">Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/mac-pro-32.png}">
                                    <p class="pCategoriasDropDown">Workstation</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/pc.png}">
                                    <p class="pCategoriasDropDown">Home Office</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                 <img th:src="@{/icones/teclado-e-mouse.png}">
                                <p class="nomeDasCategorias">Periféricos</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/teclado-32.png}">
                                    <p class="pCategoriasDropDown">Teclado</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/mouse.png}">
                                    <p class="pCategoriasDropDown">Mouse</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/fones-de-ouvido-32.png}">
                                    <p class="pCategoriasDropDown">Fones de Ouvido</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                <img th:src="@{/icones/dispositivos-eletronicos.png}">
                                <p class="nomeDasCategorias">Eletrônicos</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/notebook-32.png}">
                                    <p class="pCategoriasDropDown">Notebooks</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/NotGamer.png}">
                                    <p class="pCategoriasDropDown">Notebooks Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/celular-32.png}">
                                    <p class="pCategoriasDropDown">Celulares</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                <img th:src="@{/icones/monitor.png}">
                                <p class="nomeDasCategorias">Monitores</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/monitorGamer.png}">
                                    <p class="pCategoriasDropDown">Monitores Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/monitor-32.png}">
                                    <p class="pCategoriasDropDown">Monitores Home Office</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/monitor1.png}">
                                    <p class="pCategoriasDropDown">Suporte Monitor</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                             <img th:src="@{/icones/jogos.png}">
                                <p class="nomeDasCategorias">Espaço Gamer</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/office-chair-32.png}">
                                    <p class="pCategoriasDropDown">Cadeira Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/pc-de-mesa-32.png}">
                                    <p class="pCategoriasDropDown">Mesa Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/controle-gamer.png}">
                                    <p class="pCategoriasDropDown">Kits Gamer</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    

                </ul>

                <div class="LateralLinhaConfig">
                    <a class="LateralconfigCategorias" href="Configurações.html">
                        <img th:src="@{/icones/configuracoes-cog.png}">
                        <p class="nomeConfiguraçoes">Configurações</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Botao hamburguer -->
    <section>
        <nav>
            <ul class="hamburguer">
                <li class="hamburguertamanho">
                    <a id="menuBtn" class="active" href="#">
                       <img th:src="@{/icones/cardapio.png}"> 
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    <!--Aplica a cor (CINZA) quando clica no hamngurguer-->
    <div class="overlay hidden" id="overlay"></div>
    <!--Final do Menu Lateral-->
        <div class="logoheader">
          <a th:href="@{/}" ><img class="logoimagemheader" src="icones/image-light.png" data-theme="light" alt="Imagem"></a>
        </div>
        <!--Começo da Barra de pesquisa-->
        <div class="search-container">
       
            <input type="text" class="search-bar" name="q" placeholder="Pesquisar oque você procura..."> 
            <i class="fas fa-search search-icon"></i>
        </div>
        <!--FIM da Barra de pesquisa-->
        <div class="icone2">
          <input  onclick="toggleMode()" id="switch-flat" class="switch switch--flat" type="checkbox">
            <label for="switch-flat"></label>
            </div>
            <div class="icone">
                <a th:href="@{/Favoritos}" > <img src="icones/favoritos (1).png" alt="favoritos"></a>
                <a th:href="@{/html}" ><img src="icones/carrinho-de-compras (2).png" alt="carrinho de compras"></a>
                <a th:href="@{/Cadastro}" ><img src="icones/botao-redondo-da-conta-com-o-usuario-dentro (1).png" alt="configurações de usuario"></a>
            </div>
        </header>
    

    <!-- Conteiner -->
    <div class="meudiv">
        
            <form class="form" id="form">

                <!-- Título h1 Cadastro -->
                <div class="form-título">

                    <div class="title">
                        <h1 id="h1title">Cadastre-se</h1>
                    </div>

                    <!-- Botão Limpar e Link para o Login -->
                    <div id="flex">

                        <div class="login-button">
                        <button id="ButtonReset" type="reset">Limpar</button>
                    </div>

                    <div class="login-button">
                        <a id="linkpLogin" th:href="@{/signin}">Login</a>
                    </div>

                    </div>
                </div>
                
                <!-- Links para Pessoa Física/Jurídica -->
                <div id="flex">
                    <div class="botãoPessoa">
                        <a id="botaofisi" th:href="@{/CadastroJurídico}">Pessoa Jurídica</a>
                    </div>
                    
                    <div class="botãoPessoa2">
                        <a id="botaofisi2" th:href="@{/Cadastro}">Pessoa Física</a>
                    </div>
                </div>

                <!-- Conteiner dos Inputs -->
                <div class="input-group">

                    <div class="input-box">
                        <label class="label" for="nomeFantasia">Nome Fantasia:</label>
                        <input class="input" type="text" id="nomeFantasia" name="nomeFantasia" placeholder="Digite o Nome Fantasia" maxlength="55">
                        <i id="i" class="img-success"><img src="imagens/success-icon.svg" alt=""></i> <!-- Icone de Sucesso -->
                        <i id="i" class="img-error"><img src="imagens/error-icon.svg" alt=""></i> <!-- Icone de Error -->
        
                        <small class="small">Error Message</small> <!-- Tag para Aparecer a Mensagem de Error -->
                    </div>

                    <div class="input-box">
                        <label class="label" for="razaosocial">Razão Social:</label>
                        <input class="input" type="text" id="razaosocial" name="razaosocial" placeholder="Digite sua Razão Social" maxlength="50">
                        <i id="i" class="img-success"><img src="imagens/success-icon.svg" alt=""></i> <!-- Icone de Sucesso -->
                        <i id="i" class="img-error"><img src="imagens/error-icon.svg" alt=""></i> <!-- Icone de Error -->
        
                        <small class="small">Error Message</small> <!-- Tag para Aparecer a Mensagem de Error -->
                    </div>
                    
                    <div class="input-box">
                        <label class="label" for="inscricaoestadual">Inscrição Estadual:</label>
                        <input class="input" type="text" id="inscricaoestadual" name="inscricaoestadual" placeholder="Digite a Inscrição Estadual" maxlength="14">
                        <i id="i" class="img-success"><img src="imagens/success-icon.svg" alt=""></i> <!-- Icone de Sucesso -->
                        <i id="i" class="img-error"><img src="imagens/error-icon.svg" alt=""></i> <!-- Icone de Error --> 
        
                        <small class="small">Error Message</small> <!-- Tag para Aparecer a Mensagem de Error --> 
                        <!-- Opção de Não Costa IE -->
                        <p id="NaoCosta">
                            <input class="inputcheckbox" id="inputcheckboxnaoCosta" name="naoCostaIE" type="checkbox">
                            <label for="naoCostaIE" id="spantermos">Não consta</label>
                        </p>
                    </div>

                    <div class="input-box">
                        <label class="label" for="cnpj">CNPJ:</label>
                        <input class="input" type="text" id="cnpj" name="cnpj" placeholder="00.000.000/0000-00" maxlength="17">
                        <i id="i" class="img-success"><img src="imagens/success-icon.svg" alt=""></i> <!-- Icone de Sucesso -->
                        <i id="i" class="img-error"><img src="imagens/error-icon.svg" alt=""></i> <!-- Icone de Error --> 
        
                        <small class="small">Error Message</small> <!-- Tag para Aparecer a Mensagem de Error --> 
                    </div>

                    <div class="input-box">
                        <label class="label" for="email">Email:</label>
                        <input class="input" type="email" id="email" name="email" placeholder="contato@gmail.com" maxlength="30">
                        <i id="i" class="img-success"><img src="imagens/success-icon.svg" alt=""></i> <!-- Icone de Sucesso -->
                        <i id="i"class="img-error"><img src="imagens/error-icon.svg" alt=""></i> <!-- Icone de Error -->
        
                        <small class="small">Error Message</small> <!-- Tag para Aparecer a Mensagem de Error --> 
                    </div>

                    <div class="input-box">
                        <label class="label" for="telefone">Telefone de Contato:</label>
                        <input class="input" type="tel" id="telefone" name="telefone" placeholder="(99) 9999-9999">
                        <i id="i" class="img-success"><img src="imagens/success-icon.svg" alt=""></i> <!-- Icone de Sucesso -->
                        <i id="i" class="img-error"><img src="imagens/error-icon.svg" alt=""></i> <!-- Icone de Error -->
        
                        <small class="small">Error Message</small> <!-- Tag para Aparecer a Mensagem de Error --> 
                    </div>
                    
                    <div class="input-box">
                        <label class="label" for="password">Senha:</label>
                        <input class="input" type="password" id="password" name="password" placeholder="Digite sua senha" maxlength="30">
                        <div id="icon" onclick="showHide()"></div> <!-- Script para Ocultar/Mostra Senha -->
        
                        <small class="small">Error Message</small> <!-- Tag para Aparecer a Mensagem de Error --> 
                    </div>

                    <div class="input-box">
                        <label class="label" for="passwordtwo">Confirmar Senha:</label>
                            <input class="input" type="password" id="passwordtwo" name="passwordtwo" placeholder="Digite a senha novamente" maxlength="30">
                            <div id="icon2" onclick="showHide2()"></div> <!-- Script para Ocultar/Mostra Senha no Confirmar Senha -->
        
                        <small class="small">Error Message</small> <!-- Tag para Aparecer a Mensagem de Error --> 
        
                    </div>

                    <div class="input-box">
                        <!-- Opção de concordar com os termos-->
                        <p><input class="inputcheckbox" id="inputcheckbox" name="inputcheckbox" type="checkbox">
                        <label for="inputcheckbox" id="spantermos">Concordo com os <a link id="linktermos" href="Termos De Uso.html">Termos De Uso</a> e com a <a id="linktermos" link href="Politica De Privacidade.html">Política De Privacidade</a></label></p>
                        <small class="small">Error Message</small>
                    </div>
                </div>

                <!-- Botão Submit -->
                <div class="continue-button">
                    <button id="BotaoEnviar" type="submit">Criar Conta</button>
                </div>

            </form>
    </div>
    
    <footer class="footer">
        <div class="container">
            <ul>
                <a href="index.html" > <img class="logofooter" src="icones/image-light.png"><br/><br/></a>
                <li><a href class="footerlinks"><h1 class="textofooter2">Quem somos</h1></a></li><br/>
                <li><h1 class="textofooter2">Nossas redes:</h1></li><br/>
                    <div class="redessocial">
                        <a href="https://www.instagram.com/motherboard.__/"><img class="redes" src="icones/insta.png"></a>
                        <a href="https://twitter.com/Motherboardtec"><img class="redes" src="icones/twitter.png"></a>
                        <a href="https://youtube.com/@Motherboard-np4fg"><img class="redes" src="icones/yt.png"></a>
                    </div>
            </ul>
            <ul>
               <h1 class="textofooter">Dúvidas:</h1><br/>
               <li><a href class="footerlinks"><h1 class="textofooter2">Prazos e entregas</h1></a></li><br/>
               <li><a href class="footerlinks"><h1 class="textofooter2">Formas de pagamento</h1></a></li><br/>
               <li><a href class="footerlinks"><h1 class="textofooter2">Reembolso</h1></a></li>
            </ul>
            <ul> 
               <h1 class="textofooter">Cliente:</h1><br/>
               <li><a href class="footerlinks"><h1 class="textofooter2">Minha conta</h1></a></li><br/>
               <li><a href class="footerlinks"><h1 class="textofooter2">Meus pedidos</h1></a></li><br/>
               <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Atendimento ao cliente</h1></a></li><br/>
            </ul>
            <ul>
                <h1 class="textofooter">Ajuda:</h1><br/> 
                <li><a href class="footerlinks"><h1 class="textofooter2">Fale conosco</h1></a></li><br/>
                <li><a href class="footerlinks"><h1 class="textofooter2">Política de privacidade</h1></a></li><br/>
                <li><a href="teste.html" class="footerlinks"><h1 class="textofooter2">Sobre nós</h1></a></li><br/> 
            </ul>
        </div>
        <p class="meio">&copy; 2023 Motherboard Tecnologic. Todos os direitos reservados.</p>
    </footer>
    <!-- Ligação do Script das Máscaras e Validações do Formulário de Cadastro Pessoa Jurídica -->
    <script src="assets/script/script.js"></script>
    <script src="assets/Javascript/main-mascara-two.js"></script>
    <script src="assets/Javascript/validation-form-two.js"></script>
</body>
</html>