<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/CSS/style-form.css">
    <link rel="shortcut icon" href="imagens/logorapa.png">
    <title>Cadastro</title>
</head>

<body id="CorpoCadastro">
    
    <!-- Conteiner -->
    <div class="meudiv">
            <form id="form1" th:action="createUser" method="post" > 
				<div class="form2" >
	
            <!-- Título h1 Cadastro -->
            <div class="form-título">

                <div class="title">
                    <h1 id="h1title">Cadastre-se</h1>
                </div>

                <!-- Botão Limpar e Link para o Login -->
                <div id="flex">

                    <div class="login-button">
                        <button id="ButtonReset" type="reset">Limpar</button>
                    </div>

                    <div class="login-button">
                        <a id="linkpLogin" th:href="@{/signin}">Login</a>
                    </div>

                </div>
            </div>

            <!-- Links para Pessoa Física/Jurídica -->
                <div id="flex">
                    <div class="botãoPessoa">
                        <a id="botaofisi" th:href="@{/Cadastro}">Pessoa Física</a>
                    </div>
                    <div class="botãoPessoa2">
                        <a id="botaofisi2" th:href="@{/CadastroJurídico}">Pessoa Jurídica</a>
                    </div>
                </div>
                
               <th:block th:if="${session.msg}">
    <p class="email-ja-cadastrado" th:if="${session.msg == 'E-mail já Cadastrado'}">[[${session.msg}]]</p>
    <p class="cpf-ja-cadastrado" th:if="${session.msg == 'CPF já Cadastrado'}">[[${session.msg}]]</p>
    <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
</th:block>

                <!-- Conteiner dos Inputs -->
                <div class="input-group">
                    
                    <div class="input-box">
                        <label class="label" for="nomeCompleto">Nome Completo:</label>
                        <input type="text" name="nomeCompleto" class="input"  id="username" placeholder="Digite seu nome Completo" maxlength="20">
                        <i id="i" class="img-success"><img src="imagens/success-icon.svg" alt=""></i> <!-- Icone de Sucesso -->
                        <i id="i" class="img-error"><img src="imagens/error-icon.svg" alt=""></i> <!-- Icone de Error -->
        
                        <small class="small">Error Message</small>
                    </div>

                    <div class="input-box">
                        <label class="label" for="cpf">CPF:</label>
                        <input type="text" name="cpf" class="input" id="cpf" placeholder="000.000.000-00" maxlength="14">
                        <i id="i" class="img-success"><img src="imagens/success-icon.svg" alt=""></i> <!-- Icone de Sucesso -->
                        <i id="i" class="img-error"><img src="imagens/error-icon.svg" alt=""></i>  <!-- Icone de Error -->
        
                        <small class="small">Error Message</small> <!-- Tag para Aparecer a Mensagem de Error -->                 
                    </div>

                    <div class="input-box">
                        <label class="label" for="email">E-mail:</label>
                        <input type="text" name="email" class="input" id="email" placeholder="contato@gmail.com" maxlength="30">
                        <i id="i" class="img-success"><img src="imagens/success-icon.svg" alt=""></i> <!-- Icone de Sucesso -->
                        <i id="i" class="img-error"><img src="imagens/error-icon.svg" alt=""></i> <!-- Icone de Error --> 
        
                        <small class="small">Error Message</small> <!-- Tag para Aparecer a Mensagem de Error --> 
                    </div>

                    <div class="input-box">
                        <label class="label" for="tel">Telefone celular:</label>
                        <input type="text" name="telefone" class="input"  id="tel"  placeholder="(99) 99999-9999">
                        <i id="i" class="img-success"><img src="imagens/success-icon.svg" alt=""></i> <!-- Icone de Sucesso -->
                        <i id="i" class="img-error"><img src="imagens/error-icon.svg" alt=""></i> <!-- Icone de Error -->
                    
                        <small class="small">Error Message</small> <!-- Tag para Aparecer a Mensagem de Error --> 
                        
                        
                    </div>

                    <div class="input-box">
                        <label class="label" for="password">Senha:</label>
                            <input type="text"  name="senha" class="input"  id="password" placeholder="Digite sua senha" maxlength="30">
                            <div id="icon" onclick="showHide()"></div> <!-- Script para Ocultar/Mostra Senha -->
        
                        <small class="small">Error Message</small> <!-- Tag para Aparecer a Mensagem de Error -->
                    </div>

                    <div class="input-box">
                        <label class="label" for="passwordtwo">Confirmar Senha:</label>
                            <input type="text" name="confirmaSenha" class="input" id="passwordtwo"  placeholder="Digite a senha novamente" maxlength="30">
                            <div id="icon2" onclick="showHide2()"></div> <!-- Script para Ocultar/Mostra Senha no Confirmar Senha -->
        
                        <small class="small">Error Message</small> <!-- Tag para Aparecer a Mensagem de Error --> 
                    </div>

                <div class="input-box">
                    <!-- Opção de concordar com os termos-->
                    <p><input class="inputcheckbox" id="inputcheckbox" name="inputcheckbox" type="checkbox">
                    <label for="inputcheckbox" id="spantermos">Concordo com os <a id="linktermos" th:href="@{/TermosDeUso}">Termos De Uso</a> e com a <a id="linktermos" th:href="@{/Politica-De-Privacidade}">Política De Privacidade</a></label></p>
                    <small class="small">Error Message</small>
                </div>

                </div>
                <!-- Botão Submit -->
                <div class="continue-button">
                  <button id="BotaoEnviar" type="submit">Criar Conta</button>
                </div>
                
</div>
            </form>
    </div>
    <!-- Ligação do Script das Máscaras e Validações do Formulário de Cadastro Pessoa Física -->
    <script src="assets/Javascript/main-mascara.js"></script>
    <script src="assets/Javascript/validation-form.js"></script>
</body>
</html>