<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/css.css">
    <link rel="shortcut icon" href="icones/logorapa.png">
    <title>Loja de Eletrônicos - Carrinho</title>
</head>
<body>
   <header class="header">

         <!-- MENU LATERAL -->
         <div class="left-sidebar" id="sidebar">

            <!-- LOGO DO TOPO -->
            <div class="LateralLinhaLogo">
                <a class="menu-logo" href="#">
                    <img id="logoDoMenuLateral" th:src="@{/icones/logorapa.png}">
                </a>
            </div>
            <!-- Botão de fechamento -->
            <div id="closeBtn" class="close-button">X</div>

            <!-- CONTEUDO DO CENTRO DO MENU -->
            <div class="conteudo-sidebar">
                <ul>
                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" th:href="@{/Hardware}">
                                <img th:src="@{/icones/cpu.png}">
                                <p class="nomeDasCategorias">Hardware</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/processador-32.png}">
                                    <p class="pCategoriasDropDown">Processadores</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/placa-mãe-32.png}">
                                    <p class="pCategoriasDropDown">Placa mãe</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/ram.png}">
                                    <p class="pCategoriasDropDown">Pentes de Memória</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/hdd-32.png}">
                                    <p class="pCategoriasDropDown">Disco Rígido interno (HD)</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                 <img th:src="@{/icones/gaming-pc.png}">
                                <p class="nomeDasCategorias">Computadores</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/compGamer.png}">
                                    <p class="pCategoriasDropDown">Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/mac-pro-32.png}">
                                    <p class="pCategoriasDropDown">Workstation</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/pc.png}">
                                    <p class="pCategoriasDropDown">Home Office</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                 <img th:src="@{/icones/teclado-e-mouse.png}">
                                <p class="nomeDasCategorias">Periféricos</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/teclado-32.png}">
                                    <p class="pCategoriasDropDown">Teclado</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/mouse.png}">
                                    <p class="pCategoriasDropDown">Mouse</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/fones-de-ouvido-32.png}">
                                    <p class="pCategoriasDropDown">Fones de Ouvido</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                <img th:src="@{/icones/dispositivos-eletronicos.png}">
                                <p class="nomeDasCategorias">Eletrônicos</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/notebook-32.png}">
                                    <p class="pCategoriasDropDown">Notebooks</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/NotGamer.png}">
                                    <p class="pCategoriasDropDown">Notebooks Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/celular-32.png}">
                                    <p class="pCategoriasDropDown">Celulares</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                <img th:src="@{/icones/monitor.png}">
                                <p class="nomeDasCategorias">Monitores</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/monitorGamer.png}">
                                    <p class="pCategoriasDropDown">Monitores Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/monitor-32.png}">
                                    <p class="pCategoriasDropDown">Monitores Home Office</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/monitor1.png}">
                                    <p class="pCategoriasDropDown">Suporte Monitor</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                             <img th:src="@{/icones/jogos.png}">
                                <p class="nomeDasCategorias">Espaço Gamer</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/office-chair-32.png}">
                                    <p class="pCategoriasDropDown">Cadeira Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/pc-de-mesa-32.png}">
                                    <p class="pCategoriasDropDown">Mesa Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/controle-gamer.png}">
                                    <p class="pCategoriasDropDown">Kits Gamer</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    

                </ul>

                <div class="LateralLinhaConfig">
                    <a class="LateralconfigCategorias" href="Configurações.html">
                        <img th:src="@{/icones/configuracoes-cog.png}">
                        <p class="nomeConfiguraçoes">Configurações</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Botao hamburguer -->
    <section>
        <nav>
            <ul class="hamburguer">
                <li class="hamburguertamanho">
                    <a id="menuBtn" class="active" href="#">
                       <img th:src="@{/icones/cardapio.png}"> 
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    <!--Aplica a cor (CINZA) quando clica no hamngurguer-->
    <div class="overlay hidden" id="overlay"></div>
    <!--Final do Menu Lateral-->
        <div class="logoheader">
          <a th:href="@{/}" ><img class="logoimagemheader" src="icones/image-light.png" data-theme="light" alt="Imagem"></a>
        </div>
        <!--Começo da Barra de pesquisa-->
        <div class="search-container">
       
            <input type="text" class="search-bar" name="q" placeholder="Pesquisar oque você procura..."> 
           <i class="search-icon"><img src="icones/lupa.png" class="lupadobarra"></i>
        </div>
        <!--FIM da Barra de pesquisa-->
        <div class="icone2">
          <input  onclick="toggleMode()" id="switch-flat" class="switch switch--flat" type="checkbox">
            <label for="switch-flat"></label>
            </div>
            <div class="icone">
                <a th:href="@{/Favoritos}" > <img src="icones/favoritos (1).png" alt="favoritos"></a>
                <a th:href="@{/Carrinho}" ><img src="icones/carrinho-de-compras (2).png" alt="carrinho de compras"></a>
                <a th:href="@{/Cadastro}" ><img src="icones/botao-redondo-da-conta-com-o-usuario-dentro (1).png" alt="configurações de usuario"></a>
            </div>
        </header>
        
    <main class="maindocarrinho">
        <div class="branquinhoeae2">
            <h2 id="Prod-Carrinhoeae">Meu Carrinho</h2><img id="imgshopcard" src="icones/shopping-cart.png">
          <div class="produtoeae">
            <img src="Imagens/SamsungBook.jpg" alt="produtoeae 1">
            <div class="info-produto">
            <pre><h2 class="h2eae">Samsung Book</h2></pre>
                <p id="preco-compraprod">R$ 2300,00</p>
                <p class="comentario">Excelente  produto para profissionais!</p>
                <div class="parcelamento">
                    <p>Parcelamento em até </p>
                    <p class="valor-parcela"> &nbsp 12x de R$ 230,25</p>
                </div>
                <label for="quantity-1">Quantidade:</label>
                <select id="quantity-1" name="quantity-1" onchange="atualizarTotal(1)">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <!-- Adicione mais opções conforme necessário -->
              </select>
              <div class="total">
                <p>Total de: <span class="mostrarpreco" id="total-price-1" data-total="2300.00" data-preco="2300.00" data-quantidade="1">R$ 2300.00</span></p>
            </div>
              
            </div>
            <button class="removerdoProd"><img id="imglixeiracompra" src="icones/lixeira-de-reciclagem.png"></button>
            
        </div>
        
        <div class="produtoeae">
          <img src="Imagens/headset.jpg" alt="produtoeae 2">
          <div class="info-produto">
        <pre><h2 class="h2eae">Fone de Ouvido Sem Fio</h2></pre>
            
              <p id="preco-compraprod" data-preco="80.00">R$ 80,00</p>
              <p class="comentario">O melhor fone de ouvido!</p>
              <div class="parcelamento">
                  <p>Parcelamento em até</p>
                  <p class="valor-parcela">&nbsp 12x de R$ <span id="valor-parcela-1">7,08</span></p>
              </div>
              <label for="quantity-2">Quantidade:</label>
              <select id="quantity-2" name="quantity-2" onchange="atualizarTotal(2)">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <!-- Adicione mais opções conforme necessário -->
              </select>
              <div class="total">
                  <p>Total de: <span class="mostrarpreco" id="total-price-2">R$ 80.00</span></p>
              </div>
          </div>
          <button class="removerdoProd"><img id="imglixeiracompra" src="icones/lixeira-de-reciclagem.png"></button>
      </div>
           
      <div class="produtoeae">
        <img src="Imagens/DellMonitor.jpg" alt="produtoeae 2">
        <div class="info-produto">
        <pre><h2 class="h2eae">Monitor Dell 4K</h2></pre>
          
            <p id="preco-compraprod" data-preco="970.00">R$ 970,00</p>
            <p class="comentario">A melhor imagem que você vai ver! </p>
            <div class="parcelamento">
                <p>Parcelamento em até</p>
                <p class="valor-parcela">&nbsp 12x de R$ <span id="valor-parcela-1">87,30</span></p>
            </div>
            <label for="quantity-2">Quantidade:</label>
            <select id="quantity-2" name="quantity-2" onchange="atualizarTotal(2)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <!-- Adicione mais opções conforme necessário -->
            </select>
            <div class="total">
                <p>Total de: <span class="mostrarpreco" id="total-price-2">R$ 970.00</span></p>
            </div>
        </div>
        <button class="removerdoProd"><img id="imglixeiracompra" src="icones/lixeira-de-reciclagem.png"></button>
    </div>

    <div class="produtoeae">
        <img src="Imagens/Corei9.jpeg" alt="produtoeae 2">
        <div class="info-produto">
            <pre><h2 class="h2eae">Processador Intel Core I9</h2></pre>
          
            <p id="preco-compraprod" data-preco="1580.00">R$ 1580,00</p>
            <p class="comentario">Vale o Investimento!</p>
            <div class="parcelamento">
                <p>Parcelamento em até</p>
                <p class="valor-parcela">&nbsp 12x de R$ <span id="valor-parcela-1">152,08</span></p>
            </div>
            <label for="quantity-2">Quantidade:</label>
            <select id="quantity-2" name="quantity-2" onchange="atualizarTotal(2)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <!-- Adicione mais opções conforme necessário -->
            </select>
            <div class="total">
                <p>Total de: <span class="mostrarpreco" id="total-price-2">R$ 1580.00</span></p>
            </div>
        </div>
        <button class="removerdoProd"><img id="imglixeiracompra" src="icones/lixeira-de-reciclagem.png"></button>
    </div>
              
        </div>
        
        <!-- Adicione mais produtos aqui -->
            <div class="dados-Carrinho">
              <h2 id="Prod-Carrinhoeae">Informações da Entrega</h2><img id="imgshopcard" src="icones/endereço.png">
              <pre><label id="tamanho-titulo" for="cep">CEP:</label></pre>
              <input type="number" id="cep" name="cep" maxlength="8"  placeholder="Digite seu CEP" required>
              <button id="buscar-cep">Buscar</button>
              <pre><label id="tamanho-titulo" for="endereco">Endereço:</label></pre>
              <input type="text" id="endereco" name="endereco" maxlength="40" placeholder="Digite seu endereço" required>
              <pre><label id="tamanho-titulo" for="cidade">Cidade:</label></pre>
              <input type="text" id="cidade" name="cidade" maxlength="30" placeholder="Digite sua cidade" required>
              <pre><label id="tamanho-titulo" for="estado">Estado:</label></pre>
              <input type="text" id="estado" name="estado" maxlength="15" placeholder="Digite seu estado" required>
          
              <div class="campo-grupoCarrinho">
                  <div class="campo-carrinho">
                <pre><label for="numero" id="tamanho-titulo" class="label">Número:</label></pre>
                      <input type="number" id="numero" maxlength="7" name="numero" class="inputeae" placeholder="Número" required>
                  </div>
                  <div class="campo-carrinho">
                      <pre><label for="complemento" id="tamanho-titulo" class="label">Complemento:</label></pre>
                      <input type="text" id="complemento" maxlength="40" name="complemento" class="inputeae" placeholder="Complemento">
                  </div>
                  <div class="campo-carrinho">
                      <pre><label for="referencia" id="tamanho-titulo" class="label">Referência:</label></pre>
                      <input type="text" id="referencia" maxlength="25" name="referencia" class="inputeae" placeholder="Referência">
                  </div>
              </div>
              <br/> 
              <button id="adicionar-endereco">Adicionar Endereço</button>
              <button id="modificar-endereco" style="display: none;">Modificar Endereço</button>
              <br/> <br/>
          

     <h2 id="tamanho-h2" >Opções de Frete</h2>
        <select class="frete" name="frete">
            <option value="0">Selecione Uma Opção</option>
            <option value="10">Entrega Expressa - R$ 10,00</option>
            <option value="5">Entrega Padrão - R$ 5,00</option>
            <option value="0">Retirada na Loja - Grátis</option>
        </select>
        <br/>
        <br/>
        
        <h2 id="tamanho-h2" >Cupom de Desconto</h2>
        <pre><label id="tamanho-titulo" for="cupom">Adicione Seu Cupom:</label></pre>
        <input type="text" id="cupom" name="cupom" maxlength="15" placeholder="Digite Seu Cupom">
        <button id="aplicar-cupom">Aplicar</button>
        <div class="botoes">
            <a th:href="@{/}" class="botao-continuar">Continuar<br> Comprando</a>&nbsp;&nbsp;&nbsp;
            <a th:href="@{/Pagamento}" class="botao-pagamento">Ir para o<br> Pagamento</a>
        </div>
       
        <br/>
        <div class="total">
          <p>Total a Pagar: <span id="valor-total">R$ 4880.00</span></p>
      </div>
    </div>
</div>
</main>
<script src="assets/script/script.js"></script>
<script src="assets/script/cep.js"></script>
<footer class="footer">
        <div class="container">
            <ul>
                <a th:href="@{/}" > <img class="logofooter" th:src="@{/icones/image-light.png}"><br/><br/></a>
                <li><a th:href="@{/SobreNos}" class="footerlinks"><h1 class="textofooter2">Quem somos</h1></a></li><br/>
                <li><h1 class="textofooter2">Nossas redes:</h1></li><br/>
                    <div class="redessocial">
                        <a href="https://www.instagram.com/motherboard.__/"><img class="redes" th:src="@{/icones/insta.png}"></a>
                        <a href="https://twitter.com/Motherboardtec"><img class="redes" th:src="@{/icones/twitter.png}"></a>
                        <a href="https://youtube.com/@Motherboard-np4fg"><img class="redes" th:src="@{/icones/yt.png}"></a>
                    </div>
            </ul>
            <ul>
               <h1 class="textofooter">Dúvidas:</h1><br/>
               <li><a th:href="@{/Atendimento}" class="footerlinks"><h1 class="textofooter2">Prazos e entregas</h1></a></li><br/>
               <li><a th:href="@{/Atendimento}" class="footerlinks"><h1 class="textofooter2">Formas de pagamento</h1></a></li><br/>
               <li><a th:href="@{/Atendimento}" class="footerlinks"><h1 class="textofooter2">Reembolso</h1></a></li>
            </ul>
            <ul> 
               <h1 class="textofooter">Cliente:</h1><br/>
               <li><a th:href="@{/Cadastro}" class="footerlinks"><h1 class="textofooter2">Minha conta</h1></a></li><br/>
               <li><a th:href="@{/Cadastro}" class="footerlinks"><h1 class="textofooter2">Meus pedidos</h1></a></li><br/>
               <li><a th:href="@{/Atendimento}" class="footerlinks"><h1 class="textofooter2">Atendimento ao cliente</h1></a></li><br/>
            </ul>
            <ul>
                <h1 class="textofooter">Ajuda:</h1><br/> 
                <li><a th:href="@{/FaleConosco}" class="footerlinks"><h1 class="textofooter2">Fale conosco</h1></a></li><br/>
                <li><a th:href="@{/Politica-De-Privacidade}" class="footerlinks"><h1 class="textofooter2">Política de privacidade</h1></a></li><br/>
                <li><a th:href="@{/SobreNos}" class="footerlinks"><h1 class="textofooter2">Sobre nós</h1></a></li><br/> 
            </ul>
        </div>
        <p class="meio">&copy; 2023 Motherboard Tecnologic. Todos os direitos reservados.</p>
    </footer>
</body>
</html>