<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Favoritos</title>
    <link rel="stylesheet" href="assets/css/css.css" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="icones/logorapa.png">
</head>

<body>
    <header class="header">

         <!-- MENU LATERAL -->
         <div class="left-sidebar" id="sidebar">

            <!-- LOGO DO TOPO -->
            <div class="LateralLinhaLogo">
                <a class="menu-logo" href="#">
                    <img id="logoDoMenuLateral" th:src="@{/icones/logorapa.png}">
                </a>
            </div>
            <!-- Botão de fechamento -->
            <div id="closeBtn" class="close-button">X</div>

            <!-- CONTEUDO DO CENTRO DO MENU -->
            <div class="conteudo-sidebar">
                <ul>
                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                <img th:src="@{/icones/cpu.png}">
                                <p class="nomeDasCategorias">Hardware</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/processador-32.png}">
                                    <p class="pCategoriasDropDown">Processadores</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/placa-mãe-32.png}">
                                    <p class="pCategoriasDropDown">Placa mãe</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/ram.png}">
                                    <p class="pCategoriasDropDown">Pentes de Memória</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/hdd-32.png}">
                                    <p class="pCategoriasDropDown">Disco Rígido interno (HD)</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                 <img th:src="@{/icones/gaming-pc.png}">
                                <p class="nomeDasCategorias">Computadores</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/compGamer.png}">
                                    <p class="pCategoriasDropDown">Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/mac-pro-32.png}">
                                    <p class="pCategoriasDropDown">Workstation</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/pc.png}">
                                    <p class="pCategoriasDropDown">Home Office</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                 <img th:src="@{/icones/teclado-e-mouse.png}">
                                <p class="nomeDasCategorias">Periféricos</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/teclado-32.png}">
                                    <p class="pCategoriasDropDown">Teclado</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/mouse.png}">
                                    <p class="pCategoriasDropDown">Mouse</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/fones-de-ouvido-32.png}">
                                    <p class="pCategoriasDropDown">Fones de Ouvido</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                <img th:src="@{/icones/dispositivos-eletronicos.png}">
                                <p class="nomeDasCategorias">Eletrônicos</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/notebook-32.png}">
                                    <p class="pCategoriasDropDown">Notebooks</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/NotGamer.png}">
                                    <p class="pCategoriasDropDown">Notebooks Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/celular-32.png}">
                                    <p class="pCategoriasDropDown">Celulares</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                <img th:src="@{/icones/monitor.png}">
                                <p class="nomeDasCategorias">Monitores</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/monitorGamer.png}">
                                    <p class="pCategoriasDropDown">Monitores Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/monitor-32.png}">
                                    <p class="pCategoriasDropDown">Monitores Home Office</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/monitor1.png}">
                                    <p class="pCategoriasDropDown">Suporte Monitor</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                             <img th:src="@{/icones/jogos.png}">
                                <p class="nomeDasCategorias">Espaço Gamer</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/office-chair-32.png}">
                                    <p class="pCategoriasDropDown">Cadeira Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/pc-de-mesa-32.png}">
                                    <p class="pCategoriasDropDown">Mesa Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/controle-gamer.png}">
                                    <p class="pCategoriasDropDown">Kits Gamer</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    

                </ul>

                <div class="LateralLinhaConfig">
                    <a class="LateralconfigCategorias" href="Configurações.html">
                        <img th:src="@{/icones/configuracoes-cog.png}">
                        <p class="nomeConfiguraçoes">Configurações</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Botao hamburguer -->
    <section>
        <nav>
            <ul class="hamburguer">
                <li class="hamburguertamanho">
                    <a id="menuBtn" class="active" href="#">
                       <img th:src="@{/icones/cardapio.png}"> 
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    <!--Aplica a cor (CINZA) quando clica no hamngurguer-->
    <div class="overlay hidden" id="overlay"></div>
    <!--Final do Menu Lateral-->
        <div class="logoheader">
          <a th:href="@{/}" ><img class="logoimagemheader" src="icones/image-light.png" data-theme="light" alt="Imagem"></a>
        </div>
        <!--Começo da Barra de pesquisa-->
        <div class="search-container">
       
            <input type="text" class="search-bar" name="q" placeholder="Pesquisar oque você procura..."> 
           <i class="search-icon"><img src="icones/lupa.png" class="lupadobarra"></i>
        </div>
        <!--FIM da Barra de pesquisa-->
        <div class="icone2">
          <input  onclick="toggleMode()" id="switch-flat" class="switch switch--flat" type="checkbox">
            <label for="switch-flat"></label>
            </div>
            <div class="icone">
                <a th:href="@{/Favoritos}" > <img src="icones/favoritos (1).png" alt="favoritos"></a>
                <a th:href="@{/Carrinho}" ><img src="icones/carrinho-de-compras (2).png" alt="carrinho de compras"></a>
                <a th:href="@{/Cadastro}" ><img src="icones/botao-redondo-da-conta-com-o-usuario-dentro (1).png" alt="configurações de usuario"></a>
            </div>
        </header>
    <div class="fundoFav">

        <main>
            <br />
            <div class="fundoDofundoFav">
                <br />
                <div>
                    <div class="favoritos-branco-que-fica-em-cima">
                        <img src="icones/favoritos branco que fica em cima.png">
                    </div>
                    <div class="Nome-favoritos-branco-que-fica-em-cima">
                        Favoritos
                    </div>
                </div>

                <section class="teste">

                    <div class="favoritos">
                        <div class="cartao-produto">
                            <img src="Imagens/playstation-5-removebg-preview.png" alt="PlayStation 5" class="imagem-produto">
                            <div class="detalhes-produto">
                                <h3 class="titulo-produto">PlayStation 5</h3>

                                <div src="icones/favorito.png" alt="icone-favoritos" class="icone-favoritos"> </div>

                                <p class="descricao-produto">Console de videogame de última geração</p>
                                <p>
                                <div> <!-- Div para o preço original -->
                                    <s class="linhaFav">
                                        <div class="preco-produto"><b>R$ 3999,90</b></div>
                                    </s>
                                </div>
                                <div class="preco-produto-com-desconto"> <!-- Div para o preço com desconto -->
                                    <b> R$ 3500.00</b>
                                </div>
                                <div class="dozexnocartao"> 10x no cartao SEM JUROS</div>
                                </p>
                                <a href="#" class="botao-comprar">Comprar</a>

                                <div class="seta-expandir">
                                    <p class="textodescricaoproduto">Descrição</p>
                                </div>
                                <div class="descricao-completa-produto">Desfrute do carregamento do seu PS5, extremamente rápido com o SSD de altíssima velocidade, uma imersão mais profunda com suporte a feedback tátil, gatilhos adaptáveis e áudio 3D, além de uma geração inédita de jogos incríveis para PlayStation.</div>
                            </div>
                        </div>

                        <div class="cartao-produto">
                            <img src="Imagens/series-x-removebg-preview.png" alt="Xbox Series X" class="imagem-produto">
                            <div class="detalhes-produto">
                                <h3 class="titulo-produto">Xbox Series X</h3>

                                <div src="icones/favoritos.png" alt="Ícone de Favoritos" class="icone-favoritos"></div>

                                <p class="descricao-produto">Console de videogame de última geração</p>
                                <p>
                                <div> <!-- Div para o preço original -->
                                    <s class="linhaFav">
                                        <div class="preco-produto"><b>R$ 3240,00</b></div>
                                    </s>
                                </div>
                                <div class="preco-produto-com-desconto"> <!-- Div para o preço com desconto -->
                                    <b> R$ 3100.00</b>
                                </div>
                                <div class="dozexnocartao"> 12x no cartao SEM JUROS</div>
                                </p>
                                <a href="#" class="botao-comprar">Comprar</a>
                                <div class="seta-expandir">
                                    <p class="textodescricaoproduto">Descrição</p>
                                </div>
                                <div class="descricao-completa-produto">Apresentamos o Xbox series x, nosso console mais rápido e poderoso de todos os tempos, com software integrado para diminuir significativamente os tempos de carregamento dentro e fora do jogo.</div>
                            </div>
                        </div>

                        <div class="cartao-produto">
                            <img src="Imagens/pc gamer.png" alt="Pc gamer" class="imagem-produto">
                            <div class="detalhes-produto">
                                <h3 class="titulo-produto">PC Gamer Intel I5</h3>

                                <div src="icones/favoritos.png" alt="Ícone de Favoritos" class="icone-favoritos"> </div>

                                <p class="descricao-produto">Intel I3 de 4ª geração com placa integrada e 4 GB de RAM
                                </p>
                                <p>
                                <div> <!-- Div para o preço original -->
                                    <s class="linhaFav">
                                        <div class="preco-produto"><b>R$ 1999,99</b></div>
                                    </s>
                                </div>
                                <div class="preco-produto-com-desconto"> <!-- Div para o preço com desconto -->
                                    <b> R$ 1900.00</b>
                                </div>
                                <div class="dozexnocartao"> 12x no cartao SEM JUROS</div>
                                </p>
                                <a href="#" class="botao-comprar">Comprar</a>
                                <div class="seta-expandir">
                                    <p class="textodescricaoproduto">Descrição</p>
                                </div>
                                <div class="descricao-completa-produto">Monitor LED 20" com 75Hz de taxa de atualização Gabinete Gamer com 3 LED Fans RGB e controle remoto para gerenciar as cores e efeitos. Pronto para rodar diversos jogos como: Valorant, Call of Duty, GTA, Minecraft, League of Legends e outros Garantia total de 1 ano</div>
                            </div>
                        </div>

                        <div class="cartao-produto">
                            <img src="Imagens/NintendoSwitch-removebg-preview.png" alt="Nintendo Switch" class="imagem-produto">
                            <div class="detalhes-produto">
                                <h3 class="titulo-produto">Nintendo Switch OLED</h3>

                                <div src="icones/favoritos.png" alt="Ícone de Favoritos" class="icone-favoritos"> </div>

                                <p class="descricao-produto">32GB - PRETO E BRANCO - NACIONAL</p>
                                <p>
                                <div> <!-- Div para o preço original -->
                                    <s class="linhaFav">
                                        <div class="preco-produto"><b>R$ 2500,00</b></div>
                                    </s>
                                </div>
                                <div class="preco-produto-com-desconto"> <!-- Div para o preço com desconto -->
                                    <b> R$ 1899.99</b>
                                </div>
                                <div class="dozexnocartao"> 12x no cartao SEM JUROS</div>
                                </p>
                                <a href="#" class="botao-comprar">Comprar</a>
                                <div class="seta-expandir">
                                    <p class="textodescricaoproduto">Descrição</p>
                                </div>
                                <div class="descricao-completa-produto">PRODUTO IMPORTADO. Produto de região livre, portanto, independente da versão do console, poderão ser utilizados jogos físicos e digitais de qualquer região. A configuração do console poderá ser feita em diversos idiomas.</div>
                            </div>
                        </div>

                    </div>

                </section>


                <div class="adicionarMaisProd"><a th:href="@{/}"> <img class="imgAdicionarMaisProd" src="Imagens/mais branco.png"> </a> </div>
                <br />
                <div class="nomeDeAdionarMaisProd">Adicione mais produtos ao seus FAVORITOS para uma futura compra.
                </div>

            </div>
            <script src="assets/script/js.js"></script>

        </main>

    </div>

    <script src="assets/script/script.js"></script>
    <footer class="footer">
        <div class="container">
            <ul>
                <a href="index.html" > <img class="logofooter" src="icones/image-light.png"><br/><br/></a>
                <li><a href class="footerlinks"><h1 class="textofooter2">Quem somos</h1></a></li><br/>
                <li><h1 class="textofooter2">Nossas redes:</h1></li><br/>
                    <div class="redessocial">
                        <a href="https://www.instagram.com/motherboard.__/"><img class="redes" src="icones/insta.png"></a>
                        <a href="https://twitter.com/Motherboardtec"><img class="redes" src="icones/twitter.png"></a>
                        <a href="https://youtube.com/@Motherboard-np4fg"><img class="redes" src="icones/yt.png"></a>
                    </div>
            </ul>
            <ul>
               <h1 class="textofooter">Dúvidas:</h1><br/>
               <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Prazos e entregas</h1></a></li><br/>
               <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Formas de pagamento</h1></a></li><br/>
               <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Reembolso</h1></a></li>
            </ul>
            <ul> 
               <h1 class="textofooter">Cliente:</h1><br/>
               <li><a href="Conta.html" class="footerlinks"><h1 class="textofooter2">Minha conta</h1></a></li><br/>
               <li><a href="Conta.html" class="footerlinks"><h1 class="textofooter2">Meus pedidos</h1></a></li><br/>
               <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Atendimento ao cliente</h1></a></li><br/>
            </ul>
            <ul>
                <h1 class="textofooter">Ajuda:</h1><br/> 
                <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Fale conosco</h1></a></li><br/>
                <li><a href="Politica De Privacidade.html" class="footerlinks"><h1 class="textofooter2">Política de privacidade</h1></a></li><br/>
                <li><a href="teste.html" class="footerlinks"><h1 class="textofooter2">Sobre nós</h1></a></li><br/> 
            </ul>
        </div>
        <p class="meio">&copy; 2023 Motherboard Tecnologic. Todos os direitos reservados.</p>
    </footer>
</body>

</html>