<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Motherboard</title>
        <link th:href="@{/assets/css/css.css}" rel="stylesheet" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
              <link rel="shortcut icon" th:href="@{/icones/logorapa.png}">
    </head>
<body>
    <header class="header">

         <!-- MENU LATERAL -->
         <div class="left-sidebar" id="sidebar">

            <!-- LOGO DO TOPO -->
            <div class="LateralLinhaLogo">
                <a class="menu-logo" href="#">
                    <img id="logoDoMenuLateral" th:src="@{/icones/logorapa.png}">
                </a>
            </div>
            <!-- Botão de fechamento -->
            <div id="closeBtn" class="close-button">X</div>

            <!-- CONTEUDO DO CENTRO DO MENU -->
            <div class="conteudo-sidebar">
                <ul>
                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                <img th:src="@{/icones/cpu.png}">
                                <p class="nomeDasCategorias">Hardware</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/processador-32.png}">
                                    <p class="pCategoriasDropDown">Processadores</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/placa-mãe-32.png}">
                                    <p class="pCategoriasDropDown">Placa mãe</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/ram.png}">
                                    <p class="pCategoriasDropDown">Pentes de Memória</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/hdd-32.png}">
                                    <p class="pCategoriasDropDown">Disco Rígido interno (HD)</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                 <img th:src="@{/icones/gaming-pc.png}">
                                <p class="nomeDasCategorias">Computadores</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/compGamer.png}">
                                    <p class="pCategoriasDropDown">Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/mac-pro-32.png}">
                                    <p class="pCategoriasDropDown">Workstation</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#">
                                    <img class="imgCategoriasDropDown" th:src="@{/icones/pc.png}">
                                    <p class="pCategoriasDropDown">Home Office</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                 <img th:src="@{/icones/teclado-e-mouse.png}">
                                <p class="nomeDasCategorias">Periféricos</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/teclado-32.png}">
                                    <p class="pCategoriasDropDown">Teclado</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/mouse.png}">
                                    <p class="pCategoriasDropDown">Mouse</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/fones-de-ouvido-32.png}">
                                    <p class="pCategoriasDropDown">Fones de Ouvido</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                <img th:src="@{/icones/dispositivos-eletronicos.png}">
                                <p class="nomeDasCategorias">Eletrônicos</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/notebook-32.png}">
                                    <p class="pCategoriasDropDown">Notebooks</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/NotGamer.png}">
                                    <p class="pCategoriasDropDown">Notebooks Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/celular-32.png}">
                                    <p class="pCategoriasDropDown">Celulares</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                                <img th:src="@{/icones/monitor.png}">
                                <p class="nomeDasCategorias">Monitores</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/monitorGamer.png}">
                                    <p class="pCategoriasDropDown">Monitores Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/monitor-32.png}">
                                    <p class="pCategoriasDropDown">Monitores Home Office</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/monitor1.png}">
                                    <p class="pCategoriasDropDown">Suporte Monitor</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="CategoriaItem">
                        <div class="LinhaMenorLateral">
                            <a class="menu-item" href="#">
                             <img th:src="@{/icones/jogos.png}">
                                <p class="nomeDasCategorias">Espaço Gamer</p>
                            </a>
                        </div>
                        <ul class="ulLateralDropdown">
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/office-chair-32.png}">
                                    <p class="pCategoriasDropDown">Cadeira Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/pc-de-mesa-32.png}">
                                    <p class="pCategoriasDropDown">Mesa Gamer</p>
                                </a>
                            </li>
                            <li class="menu-itemDropDown">
                                <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" th:src="@{/icones/controle-gamer.png}">
                                    <p class="pCategoriasDropDown">Kits Gamer</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    

                </ul>

                <div class="LateralLinhaConfig">
                    <a class="LateralconfigCategorias" href="Configurações.html">
                        <img th:src="@{/icones/configuracoes-cog.png}">
                        <p class="nomeConfiguraçoes">Configurações</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Botao hamburguer -->
    <section>
        <nav>
            <ul class="hamburguer">
                <li class="hamburguertamanho">
                    <a id="menuBtn" class="active" href="#">
                       <img th:src="@{/icones/cardapio.png}"> 
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    <!--Aplica a cor (CINZA) quando clica no hamngurguer-->
    <div class="overlay hidden" id="overlay"></div>
    <!--Final do Menu Lateral-->
        <div class="logoheader">
          <a th:href="@{/}" ><img class="logoimagemheader" src="icones/image-light.png" data-theme="light" alt="Imagem"></a>
        </div>
        <!--Começo da Barra de pesquisa-->
        <div class="search-container">
       
            <input type="text" class="search-bar" name="q" placeholder="Pesquisar oque você procura..."> 
            <i class="fas fa-search search-icon"></i>
        </div>
        <!--FIM da Barra de pesquisa-->
        <div class="icone2">
          <input  onclick="toggleMode()" id="switch-flat" class="switch switch--flat" type="checkbox">
            <label for="switch-flat"></label>
            </div>
            <div class="icone">
                <a th:href="@{/Favoritos}" > <img src="icones/favoritos (1).png" alt="favoritos"></a>
                <a th:href="@{/html}" ><img src="icones/carrinho-de-compras (2).png" alt="carrinho de compras"></a>
                <a th:href="@{/Cadastro}" ><img src="icones/botao-redondo-da-conta-com-o-usuario-dentro (1).png" alt="configurações de usuario"></a>
            </div>
        </header>

<!--slideshow-->
<BR/><BR/>
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img th:src="@{/Imagens/WhatsApp Image 2023-10-01 at 17.23.53.jpeg}" style="width:100%" class="eaesimg">

    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img th:src="@{/Imagens/WhatsApp Image 2023-10-01 at 17.24.18.jpeg}" style="width:100%" class="eaesimg">
    
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img th:src="@{/Imagens/imagem pc.png}" style="width:100%" class="eaesimg">
    
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
    
    <br/>  <br/>  <br/>  <br/>  <br/> 
    <!--slideshowFIM-->
    <!--divisão de produtos-->
    <div class="display">
        <section class="displayflexhome">
            <div class="divprod">
                <!-- Carrossel 1 --><br/>
                <h1 class="textopromo">Melhores produtos:</h1>
                <div class="container65">
                    <button class="scroll-button scroll-right scroll-right-1">&lt;</button>
                    <div class="carousel">
                        <div class="items">
                            <!-- Itens do Carrossel 1 -->
                            <div>&nbsp&nbsp&nbsp</div><div class="product">
                                <div class="container1">
                                    <img class="imagemeae" th:src="@{/Imagens/kabum.jpg}" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div><div>&nbsp&nbsp&nbsp</div><div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div><div>&nbsp&nbsp&nbsp</div><div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div><div>&nbsp&nbsp&nbsp</div><div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div><div>&nbsp&nbsp&nbsp</div><div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div> <div>&nbsp&nbsp&nbsp</div>
                            
                            <!-- Adicione mais itens conforme necessário -->
                        </div>
                    </div>
                    <button class="scroll-button scroll-left scroll-left-1">&gt;</button>
                </div>
            </div>

            <div class="divprod">
                <br/>
                <h1 class="textopromo">Recomendaçoes:</h1>
                <!-- Carrossel 2 -->
                <div class="container65">
                    <button class="scroll-button scroll-right scroll-right-2">&lt;</button>
                    <div class="carousel">
                        <div class="items">
                            <!-- Itens do Carrossel 2 -->
                            <div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div><div>&nbsp&nbsp&nbsp</div><div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div><div>&nbsp&nbsp&nbsp</div><div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div><div>&nbsp&nbsp&nbsp</div><div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div><div>&nbsp&nbsp&nbsp</div><div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div><div>&nbsp&nbsp&nbsp</div><div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div> <div>&nbsp&nbsp&nbsp</div>
                            <!-- Adicione mais itens conforme necessário -->
                        </div>
                    </div>
                    <button class="scroll-button scroll-left scroll-left-2">&gt;</button>
                </div>
            </div>
            <div class="divprod">
                <!-- Carrossel 3 -->
                <br/>
                <h1 class="textopromo">Nossas promoçoes:</h1>
                <div class="container65">
                    <button class="scroll-button scroll-right scroll-right-3">&lt;</button>
                    <div class="carousel">
                        <div class="items">
                            <!-- Itens do Carrossel 3 -->
                            <div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div><div>&nbsp&nbsp&nbsp</div><div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div><div>&nbsp&nbsp&nbsp</div><div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div><div>&nbsp&nbsp&nbsp</div><div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div><div>&nbsp&nbsp&nbsp</div><div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <br/>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div><div>&nbsp&nbsp&nbsp</div><div class="product">
                                <div class="container1">
                                    <img class="imagemeae" src="Imagens/kabum.jpg" alt="Imagem">
                                    
                                </div>
                                <div class="product-info">
                                    <h2>Nomeawse Produto</h2>
                                    <p class="description">Desceaeao Produto</p>
                                    <p class="price-previous">R$ 129,99</p>
                                    <p class="price-current">R$ 99,99</p>
                                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                                </div>
                            </div> <div>&nbsp&nbsp&nbsp</div>
                            <!-- Adicione mais itens conforme necessário -->
                        </div>
                    </div>
                    <button class="scroll-button scroll-left scroll-left-3">&gt;</button>
                </div>
            </div>
        </section>
    </div>
    <section>
        <div class="divprod3">
            <img class="anuncioProd3" src="Imagens/teclado.jpg">
        </div>
        </section>
        <br/>
        <section class="displayflexhome2">
        <div class="divprod4">
            <img class="anuncioProd4" src="Imagens/mousepad.jpg">
        </div>
        <div class="divprod4">
            <img class="anuncioProd4" src="Imagens/pcgamer.jpeg">
        </div>
        <br/>
    </section>
    <br/>
    <section>
        <div class="divprodgeral"><br/>
            
            <div class="items2">
                <div class="product2">
                    <div class="maindosprodutos">
                    <div class="container1">
                        <img class="imagemeae2" src="Imagens/kabum.jpg" alt="Ima">
                    </div>
                    <div class="product-info2">
                        <h2>Nome do Produto</h2>
                        <p class="description2">Descrição do Produto aqui. Esta é uma descrição mais longa do produto para dar uma ideia mais completa do que ele oferece.</p>
                        <div class="prices2">
                            <p class="price-previous2">R$ 129,99</p>
                            <p class="price-current2">R$ 99,99</p>
                        </div>
                        <button class="add-to-cart2">Adicionar ao Carrinho</button>
                    </div>
                </div>
            </div><div>&nbsp&nbsp&nbsp</div>
            <div class="product2">
                <div class="maindosprodutos">
                <div class="container1">
                    <img class="imagemeae2" src="Imagens/kabum.jpg" alt="Imagemne">
                </div>
                <div class="product-info2">
                    <h2>Nome do Produto</h2>
                    <p class="description2">Descrição do Produto aqui. Esta é uma descrição mais longa do produto para dar uma ideia mais completa do que ele oferece.</p>
                    <div class="prices2">
                        <p class="price-previous2">R$ 129,99</p>
                        <p class="price-current2">R$ 99,99</p>
                    </div>
                    <button class="add-to-cart2">Adicionar ao Carrinho</button>
                </div>
            </div>
        </div><div>&nbsp&nbsp&nbsp</div>
        <div class="product2">
            <div class="maindosprodutos">
            <div class="container1">
                <img class="imagemeae2" src="Imagens/kabum.jpg" alt="Imagem">

            </div>
            <div class="product-info2">
                <h2>Nome do Produto</h2>
                <p class="description2">Descrição do Produto aqui. Esta é uma descrição mais longa do produto para dar uma ideia mais completa do que ele oferece.</p>
                <div class="prices2">
                    <p class="price-previous2">R$ 129,99</p>
                    <p class="price-current2">R$ 99,99</p>
                </div>
                <button class="add-to-cart2">Adicionar ao Carrinho</button>
            </div>
        </div>
    </div><div>&nbsp&nbsp&nbsp</div>
    <div class="product2">
        <div class="maindosprodutos">
        <div class="container1">
            <img class="imagemeae2" src="Imagens/kabum.jpg" alt="Imagem">
            
        </div>
        <div class="product-info2">
            <h2>Nome do Produto</h2>
            <p class="description2">Descrição do Produto aqui. Esta é uma descrição mais longa do produto para dar uma ideia mais completa do que ele oferece.</p>
            <div class="prices2">
                <p class="price-previous2">R$ 129,99</p>
                <p class="price-current2">R$ 99,99</p>
            </div>
            <button class="add-to-cart2">Adicionar ao Carrinho</button>
        </div>
    </div>
</div><div>&nbsp&nbsp&nbsp</div></div> <div class="items2">
    <div class="product2">
        <div class="maindosprodutos">
        <div class="container1">
            <img class="imagemeae2" src="Imagens/kabum.jpg" alt="Imagem">
            
        </div>
        <div class="product-info2">
            <h2>Nome do Produto</h2>
            <p class="description2">Descrição do Produto aqui. Esta é uma descrição mais longa do produto para dar uma ideia mais completa do que ele oferece.</p>
            <div class="prices2">
                <p class="price-previous2">R$ 129,99</p>
                <p class="price-current2">R$ 99,99</p>
            </div>
            <button class="add-to-cart2">Adicionar ao Carrinho</button>
        </div>
    </div>
    </div><div>&nbsp&nbsp&nbsp</div>
    <div class="product2">
        <div class="maindosprodutos">
        <div class="container1">
            <img class="imagemeae2" src="Imagens/kabum.jpg" alt="Imagem">
            
        </div>
        <div class="product-info2">
            <h2>Nome do Produto</h2>
            <p class="description2">Descrição do Produto aqui. Esta é uma descrição mais longa do produto para dar uma ideia mais completa do que ele oferece.</p>
            <div class="prices2">
                <p class="price-previous2">R$ 129,99</p>
                <p class="price-current2">R$ 99,99</p>
            </div>
            <button class="add-to-cart2">Adicionar ao Carrinho</button>
        </div>
    </div>
    </div><div>&nbsp&nbsp&nbsp</div>
    <div class="product2">
        <div class="maindosprodutos">
        <div class="container1">
            <img class="imagemeae2" src="Imagens/kabum.jpg" alt="Imagem">
            
        </div>
        <div class="product-info2">
            <h2>Nome do Produto</h2>
            <p class="description2">Descrição do Produto aqui. Esta é uma descrição mais longa do produto para dar uma ideia mais completa do que ele oferece.</p>
            <div class="prices2">
                <p class="price-previous2">R$ 129,99</p>
                <p class="price-current2">R$ 99,99</p>
            </div>
            <button class="add-to-cart2">Adicionar ao Carrinho</button>
        </div>
    </div>
    </div><div>&nbsp&nbsp&nbsp</div>
    <div class="product2">
        <div class="maindosprodutos">
        <div class="container1">
            <img class="imagemeae2" src="Imagens/kabum.jpg" alt="Imagem">
            
        </div>
        <div class="product-info2">
            <h2>Nome do Produto</h2>
            <p class="description2">Descrição do Produto aqui. Esta é uma descrição mais longa do produto para dar uma ideia mais completa do que ele oferece.</p>
            <div class="prices2">
                <p class="price-previous2">R$ 129,99</p>
                <p class="price-current2">R$ 99,99</p>
            </div>
            <button class="add-to-cart2">Adicionar ao Carrinho</button>
        </div>
    </div>
    </div><div>&nbsp&nbsp&nbsp</div>
</div> <div class="items2">
    <div class="product2">
        <div class="maindosprodutos">
        <div class="container1">
            <img class="imagemeae2" src="Imagens/kabum.jpg" alt="Imagem">
            
        </div>
        <div class="product-info2">
            <h2>Nome do Produto</h2>
            <p class="description2">Descrição do Produto aqui. Esta é uma descrição mais longa do produto para dar uma ideia mais completa do que ele oferece.</p>
            <div class="prices2">
                <p class="price-previous2">R$ 129,99</p>
                <p class="price-current2">R$ 99,99</p>
            </div>
            <button class="add-to-cart2">Adicionar ao Carrinho</button>
        </div>
    </div>
    </div><div>&nbsp&nbsp&nbsp</div>
    <div class="product2">
        <div class="maindosprodutos">
        <div class="container1">
            <img class="imagemeae2" src="Imagens/kabum.jpg" alt="Imagem">
            
        </div>
        <div class="product-info2">
            <h2>Nome do Produto</h2>
            <p class="description2">Descrição do Produto aqui. Esta é uma descrição mais longa do produto para dar uma ideia mais completa do que ele oferece.</p>
            <div class="prices2">
                <p class="price-previous2">R$ 129,99</p>
                <p class="price-current2">R$ 99,99</p>
            </div>
            <button class="add-to-cart2">Adicionar ao Carrinho</button>
        </div>
    </div>
    </div><div>&nbsp&nbsp&nbsp</div>
    <div class="product2">
        <div class="maindosprodutos">
        <div class="container1">
            <img class="imagemeae2" src="Imagens/kabum.jpg" alt="Imagem">
            
        </div>
        <div class="product-info2">
            <h2>Nome do Produto</h2>
            <p class="description2">Descrição do Produto aqui. Esta é uma descrição mais longa do produto para dar uma ideia mais completa do que ele oferece.</p>
            <div class="prices2">
                <p class="price-previous2">R$ 129,99</p>
                <p class="price-current2">R$ 99,99</p>
            </div>
            <button class="add-to-cart2">Adicionar ao Carrinho</button>
        </div>
    </div>
    </div><div>&nbsp&nbsp&nbsp</div>
    <div class="product2">
        <div class="maindosprodutos">
        <div class="container1">
            <img class="imagemeae2" src="Imagens/kabum.jpg" alt="Imagem">
            
        </div>
        <div class="product-info2">
            <h2>Nome do Produto</h2>
            <p class="description2">Descrição do Produto aqui. Esta é uma descrição mais longa do produto para dar uma ideia mais completa do que ele oferece.</p>
            <div class="prices2">
                <p class="price-previous2">R$ 129,99</p>
                <p class="price-current2">R$ 99,99</p>
            </div>
            <button class="add-to-cart2">Adicionar ao Carrinho</button>
        </div>
    </div>
    </div><div>&nbsp&nbsp&nbsp</div>
         </div><br/><br/><br/>
         <div class="view-more">
            <a href="lista-de-produtos.html">Ver mais produtos</a>
        </div>
        </div><br/>
    </section>
    
    <script src="assets/script/script.js"></script>
    <footer class="footer">
        <div class="container">
            <ul>
                <a th:href="@{/}" > <img class="logofooter" th:src="@{/icones/image-light.png}"><br/><br/></a>
                <li><a href class="footerlinks"><h1 class="textofooter2">Quem somos</h1></a></li><br/>
                <li><h1 class="textofooter2">Nossas redes:</h1></li><br/>
                    <div class="redessocial">
                        <a href="https://www.instagram.com/motherboard.__/"><img class="redes" th:src="@{/icones/insta.png}"></a>
                        <a href="https://twitter.com/Motherboardtec"><img class="redes" th:src="@{/icones/twitter.png}"></a>
                        <a href="https://youtube.com/@Motherboard-np4fg"><img class="redes" th:src="@{/icones/yt.png}"></a>
                    </div>
            </ul>
            <ul>
               <h1 class="textofooter">Dúvidas:</h1><br/>
               <li><a th:href="@{/Atendimento}" class="footerlinks"><h1 class="textofooter2">Prazos e entregas</h1></a></li><br/>
               <li><a th:href="@{/Atendimento}" class="footerlinks"><h1 class="textofooter2">Formas de pagamento</h1></a></li><br/>
               <li><a th:href="@{/Atendimento}" class="footerlinks"><h1 class="textofooter2">Reembolso</h1></a></li>
            </ul>
            <ul> 
               <h1 class="textofooter">Cliente:</h1><br/>
               <li><a th:href="@{/Conta}" class="footerlinks"><h1 class="textofooter2">Minha conta</h1></a></li><br/>
               <li><a th:href="@{/Conta}" class="footerlinks"><h1 class="textofooter2">Meus pedidos</h1></a></li><br/>
               <li><a th:href="@{/Atendimento}" class="footerlinks"><h1 class="textofooter2">Atendimento ao cliente</h1></a></li><br/>
            </ul>
            <ul>
                <h1 class="textofooter">Ajuda:</h1><br/> 
                <li><a th:href="@{/Atendimento}" class="footerlinks"><h1 class="textofooter2">Fale conosco</h1></a></li><br/>
                <li><a th:href="@{/Politica-De-Privacidade}" class="footerlinks"><h1 class="textofooter2">Política de privacidade</h1></a></li><br/>
                <li><a th:href="@{/teste}" class="footerlinks"><h1 class="textofooter2">Sobre nós</h1></a></li><br/> 
            </ul>
        </div>
        <p class="meio">&copy; 2023 Motherboard Tecnologic. Todos os direitos reservados.</p>
    </footer>
    <script src="assets/script/script.js"></script>
</body>
</html>