<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>
   <link rel="stylesheet" href="assets/css/css.css" type="text/css">
    <link rel="shortcut icon" href="icones/logorapa.png">
</head>
<body>
    <header class="header">

        <!-- MENU LATERAL -->
        <div class="left-sidebar" id="sidebar">

           <!-- LOGO DO TOPO -->
           <div class="LateralLinhaLogo">
               <a class="menu-logo" href="#">
                   <img id="logoDoMenuLateral" src="icones/logorapa.png">
               </a>
           </div>
           <!-- Botão de fechamento -->
           <div id="closeBtn" class="close-button">X</div>

           <!-- CONTEUDO DO CENTRO DO MENU -->
           <div class="conteudo-sidebar">
               <ul>
                   <li class="CategoriaItem">
                       <div class="LinhaMenorLateral">
                           <a class="menu-item" href="#">
                               <img src="icones/cpu.png">
                               <p class="nomeDasCategorias">Hardware</p>
                           </a>
                       </div>
                       <ul class="ulLateralDropdown">
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#">
                                   <img class="imgCategoriasDropDown" src="icones/processador-32.png">
                                   <p class="pCategoriasDropDown">Processadores</p>
                               </a>
                           </li>
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#">
                                   <img class="imgCategoriasDropDown" src="icones/placa-mãe-32.png">
                                   <p class="pCategoriasDropDown">Placa mãe</p>
                               </a>
                           </li>
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#">
                                   <img class="imgCategoriasDropDown" src="icones/ram.png">
                                   <p class="pCategoriasDropDown">Pentes de Memória</p>
                               </a>
                           </li>
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#">
                                   <img class="imgCategoriasDropDown" src="icones/hdd-32.png">
                                   <p class="pCategoriasDropDown">Disco Rígido interno (HD)</p>
                               </a>
                           </li>
                       </ul>
                   </li>

                   <li class="CategoriaItem">
                       <div class="LinhaMenorLateral">
                           <a class="menu-item" href="#">
                               <img src="icones/gaming-pc.png">
                               <p class="nomeDasCategorias">Computadores</p>
                           </a>
                       </div>
                       <ul class="ulLateralDropdown">
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#">
                                   <img class="imgCategoriasDropDown" src="icones/compGamer.png">
                                   <p class="pCategoriasDropDown">Gamer</p>
                               </a>
                           </li>
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#">
                                   <img class="imgCategoriasDropDown" src="icones/mac-pro-32.png">
                                   <p class="pCategoriasDropDown">Workstation</p>
                               </a>
                           </li>
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#">
                                   <img class="imgCategoriasDropDown" src="icones/pc.png">
                                   <p class="pCategoriasDropDown">Home Office</p>
                               </a>
                           </li>
                       </ul>
                   </li>

                   <li class="CategoriaItem">
                       <div class="LinhaMenorLateral">
                           <a class="menu-item" href="#">
                               <img src="icones/teclado-e-mouse.png">
                               <p class="nomeDasCategorias">Periféricos</p>
                           </a>
                       </div>
                       <ul class="ulLateralDropdown">
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" src="icones/teclado-32.png">
                                   <p class="pCategoriasDropDown">Teclado</p>
                               </a>
                           </li>
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" src="icones/mouse.png">
                                   <p class="pCategoriasDropDown">Mouse</p>
                               </a>
                           </li>
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" src="icones/fones-de-ouvido-32.png">
                                   <p class="pCategoriasDropDown">Fones de Ouvido</p>
                               </a>
                           </li>
                       </ul>
                   </li>

                   <li class="CategoriaItem">
                       <div class="LinhaMenorLateral">
                           <a class="menu-item" href="#">
                               <img src="icones/dispositivos-eletronicos.png">
                               <p class="nomeDasCategorias">Eletrônicos</p>
                           </a>
                       </div>
                       <ul class="ulLateralDropdown">
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" src="icones/notebook-32.png">
                                   <p class="pCategoriasDropDown">Notebooks</p>
                               </a>
                           </li>
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" src="icones/NotGamer.png">
                                   <p class="pCategoriasDropDown">Notebooks Gamer</p>
                               </a>
                           </li>
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" src="icones/celular-32.png">
                                   <p class="pCategoriasDropDown">Celulares</p>
                               </a>
                           </li>
                       </ul>
                   </li>

                   <li class="CategoriaItem">
                       <div class="LinhaMenorLateral">
                           <a class="menu-item" href="#">
                               <img src="icones/monitor.png">
                               <p class="nomeDasCategorias">Monitores</p>
                           </a>
                       </div>
                       <ul class="ulLateralDropdown">
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" src="icones/monitorGamer.png">
                                   <p class="pCategoriasDropDown">Monitores Gamer</p>
                               </a>
                           </li>
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" src="icones/monitor-32.png">
                                   <p class="pCategoriasDropDown">Monitores Home Office</p>
                               </a>
                           </li>
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" src="icones/monitor1.png">
                                   <p class="pCategoriasDropDown">Suporte Monitor</p>
                               </a>
                           </li>
                       </ul>
                   </li>

                   <li class="CategoriaItem">
                       <div class="LinhaMenorLateral">
                           <a class="menu-item" href="#">
                               <img src="icones/jogos.png">
                               <p class="nomeDasCategorias">Espaço Gamer</p>
                           </a>
                       </div>
                       <ul class="ulLateralDropdown">
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" src="icones/office-chair-32.png">
                                   <p class="pCategoriasDropDown">Cadeira Gamer</p>
                               </a>
                           </li>
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" src="icones/pc-de-mesa-32.png">
                                   <p class="pCategoriasDropDown">Mesa Gamer</p>
                               </a>
                           </li>
                           <li class="menu-itemDropDown">
                               <a class="aCategoriasDropDown" href="#"><img class="imgCategoriasDropDown" src="icones/controle-gamer.png">
                                   <p class="pCategoriasDropDown">Kits Gamer</p>
                               </a>
                           </li>
                       </ul>
                   </li>

                   

               </ul>

               <div class="LateralLinhaConfig">
                   <a class="LateralconfigCategorias" href="Configurações.html">
                       <img src="icones/configuracoes-cog.png">
                       <p class="nomeConfiguraçoes">Configurações</p>
                   </a>
               </div>
           </div>
       </div>
   </div>
   <!-- Botao hamburguer -->
   <section>
       <nav>
           <ul class="hamburguer">
               <li class="hamburguertamanho">
                   <a id="menuBtn" class="active" href="#">
                       <img src="icones/cardapio.png">
                   </a>
               </li>
           </ul>
       </nav>
   </section>
   <!--Aplica a cor (CINZA) quando clica no hamngurguer-->
   <div class="overlay hidden" id="overlay"></div>
   <!--Final do Menu Lateral-->
       <div class="logoheader">
         <a href="index.html" > <img class="logoimagemheader" src="icones/image-light.png" data-theme="light" alt="Imagem"></a>
       </div>
       <!--Começo da Barra de pesquisa-->
       <div class="search-container">
      
           <input type="text" class="search-bar" name="q" placeholder="Pesquisar oque você procura..."> 
           <i class="fas fa-search search-icon"></i>
       </div>
       <!--FIM da Barra de pesquisa-->
       <div class="icone2">
         <input  onclick="toggleMode()" id="switch-flat" class="switch switch--flat" type="checkbox">
           <label for="switch-flat"></label>
           </div>
           <div class="icone">
               <a href="Favoritos.html" > <img src="icones/favoritos (1).png" alt="favoritos"></a>
               <a href="html.html" ><img src="icones/carrinho-de-compras (2).png" alt="carrinho de compras"></a>
               <a href="Conta.html" ><img src="icones/botao-redondo-da-conta-com-o-usuario-dentro (1).png" alt="configurações de usuario"></a>
           </div>
       </header>
       <br/><br/>


       <div class="conteiner-formasdepagamento">
        <main class="mainpagamento"> 

             <!-- conteiner -->
                <div class="content">
                <h2 id="Prod-Carrinhoeae">Formas de Pagamento</h2><img id="imgshopcard" src="icones/shopping-cart.png">
              <div class="bar">
                  <div class="bar-title" id="bar1-title">Pagamento por via PIX <img id="imgformapix" src="Imagens/pix.png"></div>
                  <div class="bar-content hidden" id="bar1-content">
                      <form class="formpagamento">
                          <div class="input-group">
                              <label  class="labelpagamento" for="tipo-pessoa">Tipo de Pessoa:</label>
                              <select class="selectpagamento" id="tipo-pessoa" name="tipo-pessoa">
                                  <option value="fisica">Pessoa Física</option>
                                  <option value="juridica">Pessoa Jurídica</option>
                              </select>
                          </div>
                          <div class="input-group">
                              <label class="labelpagamento" for="nome">Nome:</label>
                              <input class="inputpagamento" type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
                          </div>
                          <div class="input-group">
                              <label class="labelpagamento"  for="cpf-cnpj">CPF:</label>
                              <input type="number" id="cpf-cnpj" name="cpf-cnpj" placeholder="Digite seu CPF" class="inputpagamento" oninput="limitNumberLength(this, 11)" required>
      
                          </div>
                          <div class="input-group">
                              <label class="labelpagamento" for="data-nascimento">Data de Nascimento:</label>
                              <input class="inputpagamento"  type="text" id="data-nascimento" name="data-nascimento" placeholder="dd/mm/aaaa" oninput="formatDateInput(this)" maxlength="10">
      
                          </div>
                          <div class="payment-button">
                              <button class="buttonpagamento" type="submit">Pagar com PIX</button>
                          </div>
                      </form>
                  </div>
              </div><br/> <br/> <br/> <br/> <br/>

              <div class="bar">
                  <div class="bar-title" id="bar2-title">Pagamento com Cartão <img id="imgformapix" src="Imagens/credit-card.png"></div>
                  <div class="bar-content hidden" id="bar2-content">
                      <form class="formpagamento">
                          <div class="input-group">
                              <label class="labelpagamento"  for="card-number">Número do Cartão:</label>
                              <input class="inputpagamento"  type="text" id="card-number" name="card-number" placeholder="XXXX-XXXX-XXXX-XXXX" maxlength="19" required>
                          </div>
                          <div class="input-group">
                              <label class="labelpagamento"  for="card-holder">Titular do Cartão:</label>
                              <input class="inputpagamento"  type="text" id="card-holder" placeholder="..." name="card-holder" required>
                          </div>
                          <div class="input-row">
                              <div class="input-group">
                                  <label class="labelpagamento"  for="expiration">Validade:</label>
                                  <input class="inputpagamentoVal"  type="text" id="expiration" name="expiration" placeholder="MM/AA" required>
                              </div>
                              <div class="input-group">
                                  <label class="labelpagamento"  for="cvv">CVV:</label>
                                  <input class="inputpagamentoVal"  type="text" id="cvv" name="cvv" placeholder="XXX" maxlength="3" required>
                              </div>
                          </div>
                          <div class="payment-button">
                              <button class="buttonpagamento"  type="submit">Pagar com Cartão</button>
                          </div>
                      </form>
                  </div>
              </div><br/> <br/> <br/> <br/> <br/>

              <div class="bar">
                  <div class="bar-title" id="bar3-title">Pagamento por Boleto <img id="imgformapix" src="Imagens/fatura.png"></div>
                  <div class="bar-content hidden" id="bar3-content">
                      <form class="formpagamento">
                          <div class="input-group">
                              <label class="labelpagamento"  for="boleto-name">Nome:</label>
                              <input class="inputpagamento"  type="text" id="boleto-name" name="boleto-name" placeholder="Digite seu nome" required>
                          </div>
                          <div class="input-group">
                              <label class="labelpagamento"  for="boleto-cpf">CPF:</label>
                              <input class="inputpagamento"  type="number" id="boleto-cpf" name="boleto-cpf" placeholder="Digite seu CPF" class="cpf1" oninput="limitNumberLength(this, 11)" required>
                          </div>
                          <div class="input-group">
                              <label class="labelpagamento"  for="boleto-email">E-mail:</label>
                              <input class="inputpagamento"  type="email" id="boleto-email" name="boleto-email" placeholder="Digite seu E-mail" required>
                          </div>
                          <div class="payment-button">
                              <button class="buttonpagamento"  type="submit">Pagar com Boleto</button>
                          </div>
                      </form>
                  </div>
                  
            
            </div>
        </div>
        </main>

        <div class="branquinhoeae-Pagamento">
            <h2 id="Prod-Carrinhoeae">Produtos no Carrinho</h2><img id="imgshopcard" src="icones/shopping-cart.png">
            <div class="produtoeae-Pagamento">
              <img src="Imagens/playstation-5-removebg-preview.png" alt="PlayStation 5" class="imagem-produto">
              <div class="info-produto">
                  <h2 class="h2eae">PlayStation 5</h2>
                  <p id="preco-compraprod" data-preco="3500.00">R$ 3500,00</p>
                  <p class="comentario">Aproveite nossos produtos com excelentes custo-benefícios.<br>
                    Apresento o nosso produto que foi pensado em cada<br>
                    detalhe para oferecer a você o melhor custo-benefício.</p>
                  <div class="parcelamento">
                      <p>Parcelamento em até</p>
                      <p class="valor-parcela">12x de R$ 8,25</p>
                  </div>
                  <label for="quantity-1">Quantidade:</label>
                  <select id="quantity-1" name="quantity-1" onchange="atualizarTotal(1)">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <!-- Adicione mais opções conforme necessário -->
                </select>
                <div class="total">
                  <p>Total: <span class="mostrarpreco" id="total-price-1" data-total="3500.00" data-preco="3500.00" data-quantidade="1">R$ 3500.00</span></p>
              </div>
                
              </div>
              <button class="removerdoProd"><img id="imglixeiracompra" src="icones/lixeira-de-reciclagem.png"></button>
              
          </div>
          
          <div class="produtoeae-Pagamento">
            <img src="Imagens/pc gamer.png" alt="PC Gamer Intel I5"  class="imagem-produto">
            <div class="info-produto">
                <h2 class="h2eae">PC Gamer Intel I5</h2>
              
                <p id="preco-compraprod" data-preco="1900.00">R$ 1900,00</p>
                <p class="comentario">Aproveite sua gameplay com total imersão na jogatina!
                Apresento aqui o PC Gamer Intel I5 que foi pensado em cada
                detalhe para oferecer a você o melhor desempenho.</p>
                
                <div class="parcelamento">
                    <p>Parcelamento em até</p>
                    <p class="valor-parcela">12x de R$ <span id="valor-parcela-1">6.08</span></p>
                </div>
                <label for="quantity-2">Quantidade:</label>
                <select id="quantity-2" name="quantity-2" onchange="atualizarTotal(2)">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <!-- Adicione mais opções conforme necessário -->
                </select>
                <div class="total">
                    <p>Total: <span class="mostrarpreco" id="total-price-2">R$ 1900.00</span></p>
                </div>
            </div>
            <button class="removerdoProd"><img id="imglixeiracompra" src="icones/lixeira-de-reciclagem.png"></button>
        </div>    
    </div>              
</div>  
</div>

<script src="assets/script/pagamento.js"></script>
<footer class="footer">
    <div class="container">
        <ul>
            <a href="index.html" > <img class="logofooter" src="icones/image-light.png"><br/><br/></a>
            <li><a href class="footerlinks"><h1 class="textofooter2">Quem somos</h1></a></li><br/>
            <li><h1 class="textofooter2">Nossas redes:</h1></li><br/>
                <div class="redessocial">
                    <a href="https://www.instagram.com/motherboard.__/"><img class="redes" src="icones/insta.png"></a>
                    <a href="https://twitter.com/Motherboardtec"><img class="redes" src="icones/twitter.png"></a>
                    <a href="https://youtube.com/@Motherboard-np4fg"><img class="redes" src="icones/yt.png"></a>
                </div>
        </ul>
        <ul>
           <h1 class="textofooter">Dúvidas:</h1><br/>
           <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Prazos e entregas</h1></a></li><br/>
           <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Formas de pagamento</h1></a></li><br/>
           <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Reembolso</h1></a></li>
        </ul>
        <ul> 
           <h1 class="textofooter">Cliente:</h1><br/>
           <li><a href="Conta.html" class="footerlinks"><h1 class="textofooter2">Minha conta</h1></a></li><br/>
           <li><a href="Conta.html" class="footerlinks"><h1 class="textofooter2">Meus pedidos</h1></a></li><br/>
           <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Atendimento ao cliente</h1></a></li><br/>
        </ul>
        <ul>
            <h1 class="textofooter">Ajuda:</h1><br/> 
            <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Fale conosco</h1></a></li><br/>
            <li><a href="Politica De Privacidade.html" class="footerlinks"><h1 class="textofooter2">Política de privacidade</h1></a></li><br/>
            <li><a href="teste.html" class="footerlinks"><h1 class="textofooter2">Sobre nós</h1></a></li><br/> 
        </ul>
    </div>
    <p class="meio">&copy; 2023 Motherboard Tecnologic. Todos os direitos reservados.</p>
</footer>
</body>
</html>
