<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagens/logorapa.png">
    <link rel="stylesheet" href="assets/CSS/css.css">
    <title>Termos De Uso</title>
</head>
<body id="CorpoTermos">
    <header class="header">

        <!--Menu Lateral-->

   <div class="pagina">

       <!-- MENU LATERAL -->
       <div class="left-sidebar" id="sidebar">

         <!-- LOGO DO TOPO -->
         <a class="menu-logo" href="#">
           <img id="logoDoMenuLateral" src="icones/logorapa.png">
         </a>
         <!-- Botão de fechamento -->
           <div id="closeBtn" class="close-button">X</div>

         <!-- CONTEUDO DO CENTRO DO MENU -->
         <div class="conteudo-sidebar">
           
           <a class="menu-item" href="#">
             <img src="icones/cpu.png">
             <p class="nomeDasCategorias">Hardware</p>
           </a>
   
           <a class="menu-item" href="#">
             <img src="icones/gaming-pc.png">
             <p class="nomeDasCategorias">Computadores</p>
           </a>
   
           <a class="menu-item" href="#">
           <img src="icones/teclado-e-mouse.png">
          <p class="nomeDasCategorias">Periféricos</p>
           </a>
   
           <a class="menu-item" href="#">
           <img src="icones/dispositivos-eletronicos.png">
           <p class="nomeDasCategorias">Eletrônicos</p>
           </a>
   
           <a class="menu-item" href="#">
           <img src="icones/monitor.png">
           <p class="nomeDasCategorias">Monitores</p>
           </a>
   
           <a class="menu-item" href="#">
           <img src="icones/jogos.png">
           <p class="nomeDasCategorias">Espaço Gamer</p>
           </a>
   
           <a class="menu-item bottom" href="Configurações.html">
           <img src="icones/configuracoes-cog.png">
           <p class="nomeConfiguraçoes">Configurações</p>
           </a>

         </div>  
</div>
       </div>
       <!-- Botao hamburguer -->
       <section>
         <nav>      
           <ul class="hamburguer"> 
             <li class="hamburguertamanho">
               <a id="menuBtn" class="active" href="#">
                 <img src="icones/cardapio.png">     
               </a>
             </li>
           </ul>
         </nav>
       </section>
       <!--Aplica a cor (CINZA) quando clica no hamngurguer-->
       <div class="overlay hidden" id="overlay"></div>
     <!--Final do Menu Lateral-->
       <div class="logoheader">
         <a href="index.html" > <img class="logoimagemheader" src="icones/image-light.png" data-theme="light" alt="Imagem"></a>
       </div>
       <!--Começo da Barra de pesquisa-->
       <div class="barra">
           <span class="search-icon">
               <img src="icones/lupa.png">
           </span>
           <input type="text" placeholder="Pesquisar...">
       </div>
       <!--FIM da Barra de pesquisa-->
       <div class="icone2">
         <input  onclick="toggleMode()" id="switch-flat" class="switch switch--flat" type="checkbox">
           <label for="switch-flat"></label>
           </div>
           <div class="icone">
               <a href="Favoritos.html" > <img src="icones/favoritos (1).png" alt="favoritos"></a>
               <a href="html.html" ><img src="icones/carrinho-de-compras (2).png" alt="carrinho de compras"></a>
               <a href="Conta.html" ><img src="icones/botao-redondo-da-conta-com-o-usuario-dentro (1).png" alt="configurações de usuario"></a>
           </div>
       </header>

    <h1 class="h1termos"><i>Termos De Uso</i></h1>
        
        <br>
        <h1 class="Topicoh1"><em>1. Finalidade Principal</em></h1>
         <p id="texttermos">
        1.1 Essa plataforma tem como finalidade ser um “e-commerce digital”, ou seja, disponibilizar a venda de produtos via online disponibilizados em nosso site no setor de informática, Com a comercialização de hardware (componentes de computador), computadores em geral. Como por exemplos Notebooks, computadores Workstation (estações de trabalho), Gamer, Home Office (casa e escritório),monitores entre outros. Visando sempre oferecer segurança, bons preços qualidade aos produtos e qualidade de atendimento aos nossos clientes. 
        </p> 
        <h1 class="Topicoh1"><em>2. Como Comprar</em></h1>
        <p id="texttermos">  
        2.1 Ao acessar o site o cliente terá várias opções de compra de diferentes produtos, ao se interessar por algum produto o cliente deverá clicar em adicionar ao carrinho.
        <br> <br>
        2.2 Após o cliente adicionar o produto escolhido no carrinho, ele deverá clicar em comprar agora.
        <br> <br>
        2.3 O cliente deverá se certificar de que seus dados pessoais, dados bancários ou seu endereço estão corretos.
        <br><br>
        2.4 O cliente selecionará opções de pagamentos para efetuar a forma de pagamento que desejar.  
        <br><br>
        2.5 O cliente selecionará fazer pedido, desta forma haverá comprado o produto.
    </p><br>
         <h1 class="Topicoh1"><em>3. Reserva de Produtos </em></h1>
        <p id="texttermos"> 
        3.1 Nosso website não trabalha com nenhuma possibilidade de reservar qualquer um dos produtos ofertados em nossa plataforma.
        <br> <br>
        3.2 O fato de o produto estar no carrinho de compras não é tido como uma reserva e não impossibilita que outras pessoas possam adquirir o produto e eles venham a se esgotar.
        </p><br>
    <h1 class="Topicoh1"> <em>4. Obrigações do Cliente</em></h1>
         <p id="texttermos"> 
        4.1 O cliente deverá informar os dados de forma completa e correta no momento de cadastro em nossa plataforma.
        <br> <br>
        4.2 É responsabilidade do cliente qualquer erro na escrita ou na transmissão errônea dos dados.
        <br> <br>
        4.3 Para efetuar qualquer compra em nosso website ou adicionar produtos ao carrinho é necessário logar com o usuário e senha que foi fornecido no momento do cadastro.
        <br> <br>
        4.4 Não informar os seus dados de login a terceiros sob pena de ser responsabilizado por qualquer conduta advinda desse uso.
        <br> <br>
        4.5 Cada cliente só poderá efetuar um cadastro, não sendo aceito mais de uma conta por CPF.
        <br> <br>
        4.6 Usar a plataforma respeitando a ética, bons costumes, legislações e ordenamentos vigentes no país, sob pena de sofrer sanções.
        <br> <br>
        4.7 Ser maior de idade (18 anos) e ter capacidade plena para realizar o cadastro e efetuar compras em nossa plataforma.
        <br> <br>
        4.7.1 Se um menor de idade ou pessoa física sem capacidade plena vir a adquirir algum produto ou serviço ofertado em nossa plataforma, entenderemos que os responsáveis autorizaram, respondendo esses por toda e qualquer situação que advir, bem como pela compra.
        <br> <br>
        4.8 Não comentar ou enviar imagens nas avaliações que possam ir de encontro com a ética e o respeito, ou que tenha cunho difamatório, ofensivo, de ódio ou preconceituoso.
        <br> <br>
        4.9 O primeiro login de acesso será feito através de um link enviado para o seu e-mail cadastrado.
        <br> <br>
        4.10 Não fornecer qualquer informação falsa, fraudulenta ou que não seja correspondente aos seus dados.
    </p><br> 
    <h1 class="Topicoh1"> <em>5. Obrigações do Proprietário do E-Commerce</em></h1>
         <p id="texttermos"> 
        5.1 Informar de forma ostensiva e verdadeira sobre as características e especificações do produto disponível para venda de forma clara e completa. ( Ex: Cores, altura, material ou largura).
        <br> <br>
        5.2 Enviar os produtos dentro do prazo estabelecido.
        <br> <br>
        5.3 Disponibilizar uma plataforma segura.
        <br> <br>
        5.4 Disponibilizar imagens, áudios e vídeos informativos sobre os produtos ofertados, e condizentes com o que será entregue ao cliente.
        <br> <br>
        5.5 Emitir a nota fiscal do produto que será enviado e enviá-la ao cliente junto do produto.
        <br> <br>
        5.6 Informar como deve ocorrer o manuseio, a limpeza ou lavagem do produto e qualquer informação considerada relevante relacionada ao produto.
    </p><br> 
    <h1 class="Topicoh1"><em>6. Isenção de Responsabilidade</em></h1>
         <p id="texttermos"> 
        6.1 Não nos responsabilizamos pelo mau uso ou manuseio errado do produto, bem como de qualquer dano que possa ocorrer na instalação de qualquer produto adquirido em nossa plataforma.
        <br> <br>
        6.2 Todos os produtos que vendemos estão dentro dos padrões e condições que vem de fábrica, do distribuidor ou da empresa que revendeu o produto.
        <br> <br>
        6.3 Fornecemos todas as informações pertinentes relacionadas ao produto, bem como os mesmos vão acompanhados de instruções de uso e cuidados em suas caixas ou através de manual de instruções.
    </p> <br> 
    <h1 class="Topicoh1"><em>7. Propriedade Intelectual</em></h1> 
         <p id="texttermos">
        7.1 Todo o design e paginação são de propriedade do nosso website, e foram desenvolvidos por um prestador de serviços que foi contratado para tal finalidade.
        <br> <br>
        7.2 Toda imagem, ilustração, obras de arte, HTML, nomes comerciais, softwares ou vídeo disponibilizados em nossa plataforma por um dos gerenciadores da página são de nossa propriedade.
        <br> <br>
        7.2.1 As imagens e vídeos são meramente ilustrativas, pois dependendo do monitor ou da tela do aparelho eletrônico o mesmo pode apresentar variação de cores ou tons.
        <br> <br>
        7.3 A logo, a marca e toda a aparência da webempresa/empresa são de nossa propriedade.
        <br> <br>
        7.4 É vedada a cópia sem autorização de qualquer imagem, vídeo, design, áudios, aparência ou descrições de produtos existentes em nossa web página, sob pena se responder por sanções quem desobedecer.
        <br> <br>
        7.5 Não nos responsabilizamos por links externos que possam vir a aparecer em nossa página.
        <br> <br>
        7.5.1 Há algumas áreas que poderão apresentar propagandas ou divulgação de links, mas não temos qualquer tipo de relação, por isso muito cuidado ao navegar por essas páginas e ao fornecer os seus dados, pois navegar por essas páginas é responsabilidade do usuário/cliente.
        <br> <br>
        7.6 Nada contido em nossa web página garante o direito a concessão de licença ou direito de uso sem o consentimento expresso de um dos gerenciadores da página ou do proprietário da página.
        <br> <br>
        7.7 O consentimento de cópia ou compartilhamento deve vir por escrito de forma clara e expressa.
        <br> <br>
        7.8 É vedado compartilhar, copiar, plagiar ou disponibilizar qualquer conteúdo, foto, vídeo ou áudio encontrado em nosso site sem consentimento expresso.
        </p><br> </p>
    <em><h1 class="Topicoh1">8. Formas de Pagamentos</h1> </em>
        <p id="texttermos">
        8.1 As formas de pagamento aceitas em nosso e-commerce são cartão de crédito e débito, ou boleto bancário.
        <br> <br>
        8.2 O boleto bancário poderá ser emitido no momento em que você escolheu a opção, preencheu os dados requisitados e gerou.
        <br> <br>
        8.2.1 O boleto tem vencimento na data exposta no mesmo, não sendo aceito após a data de vencimento.
        <br> <br>
        8.2.2 Se o boleto vencer e o pagamento não tiver sido efetuado, o produto voltará a ficar disponível para venda e será necessário realizar uma nova compra para adquiri-lo.
        <br> <br>
        8.3 O produto será enviado assim que o pagamento for processado, registrado e confirmado em nossa plataforma.
        <br> <br>
        8.4 Qualquer outra forma de pagamento não é aceita por nosso e-commerce.
        <br> <br>
        8.5 Cupons de descontos são aceitos, desde que tenhamos disponibilizados, estando sujeitos a esgotarem ou terem vigência cancelada a qualquer momento.
        <br> <br>
        8.5 Se o cliente quiser parcelar o produto em mais vezes deverá arcar com os juros da operadora.
        <br> <br>
        8.6 Para solicitar o estorno entre em contato com a nossa Central de Atendimento ou SAC.
        </p><br> 
    <h1 class="Topicoh1"> <em>9. Prazos e Entregas</em></h1>
         <p id="texttermos"> 
        9.1 O produto será enviado assim que o pagamento for confirmado, podendo ser enviado até 7 dias após a confirmação do pagamento.
        <br> <br>
        9.4 O cliente escolherá a forma de entrega.
        <br> <br>
        9.2 Os custos de envio e entrega estarão dispostos no momento em que você estiver quase finalizando a compra, na aba de frete/entrega/envio, onde você informará o seu endereço e CEP.
        <br> <br>
        9.3 O cliente pagará pela entrega (ou utilizará um cupom de frete grátis) e o envio do produto com faixas pré-definidas, ou de acordo com o peso padrão da categoria.
    </p> <br> 
    <h1 class="Topicoh1"> <em>10. Análise e Reembolso</em></h1>
         <p id="texttermos">
        10.1 O cliente poderá devolver o produto ou trocar que foi adquirido em nosso e-commerce em até 7 dias, seja qual for a razão, conforme a previsão expressa no Código de Defesa do Consumidor em seu art. 49.
        <br> <br>
        10.1.1 Para que ocorra a troca ou a devolução é necessário que o produto esteja conforme foi entregue, com todos os acessórios, manual e embalagem, caixa.
        <br> <br>
        10.1.2 O produto que será devolvido ou trocado não poderá apresentar qualquer marca de uso, como o produto estar trincado, riscado ou apresentar sinais de quedas.
        <br> <br>
        10.2 Se você requisitou a troca do produto o novo será enviado para o endereço e você será notificado sobre o envio via e-mail.
        <br> <br>
        10.3 Se você solicitou o reembolso, a devolução do valor ocorrerá da forma como foi efetuado o pagamento.
        <br> <br>
        10.3.1 Se foi via cartão de crédito ou débito o valor será creditado ou debitado na fatura atual ou na seguinte do cartão, pois informaremos a administradora do cartão.
        <br> <br>
        10.3.2 Se o pagamento foi feito via boleto bancário, o valor de reembolso será restituído dentro de 30 dias úteis diretamente na conta que solicitaremos no momento de sua requisição de devolução.
    </p> <br> 
    <h1 class="Topicoh1"><em>11. Política de Privacidade e Proteção de Dados</em></h1>
       <p id="texttermos">  
        11.1 Você pode conferir a nossa política de privacidade , onde informamos como ocorre a coleta e o tratamentos dos dados cadastrados em nosso site, bem como da navegação.
     <br> <br>
      11.2 Fica eleito o foro da Cidade da nossa empresa, para dirimir quaisquer controvérsias, dúvidas, desentendimentos, litígios ou questões advindas da relação cliente e e-commerce, mesmo que possa existir algum local, por mais privilegiado que possa ser.
    </p> <br>
<h1 class="Topicoh1"><em>12.Programa de Afiliados</em></h1>
     <p id="texttermos"> 
    <em> 12.1 Aceitaremos em nosso programa de afilados apenas se tiverem no minímo 16 anos de idade.</em>
     <br><br>
    <em>12.2 O trabalho em si funciona do seguinte meio, assim que o candidato é aceito como um de nossos afiliados o mesmo passaram a se responsabilizar por divulgar alguns de nossos produtos de sua escolha pessoal.</em>
     <br><br>
    <em>12.3 O afiliado inicia recebendo 5% de comição por cada produto que vender através de seu link de afiliado.</em>
     <br><br>
    <em> 12.4 Nossos afiliados poderão receber até 25% de comição se atingirem metas estabelicidas pela plataforma</em>
     <br><br>
    </p>
    <footer class="footer">
        <div class="container">
            <ul>
                <a href="index.html" > <img class="logofooter" src="icones/image-light.png"><br/><br/></a>
                <li><a href class="footerlinks"><h1 class="textofooter2">Quem somos</h1></a></li><br/>
                <li><h1 class="textofooter2">Nossas redes:</h1></li><br/>
                    <div class="redessocial">
                        <a href="https://www.instagram.com/motherboard.__/"><img class="redes" src="icones/insta.png"></a>
                        <a href="https://twitter.com/Motherboardtec"><img class="redes" src="icones/twitter.png"></a>
                        <a href="https://youtube.com/@Motherboard-np4fg"><img class="redes" src="icones/yt.png"></a>
                    </div>
            </ul>
            <ul>
               <h1 class="textofooter">Dúvidas:</h1><br/>
               <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Prazos e entregas</h1></a></li><br/>
               <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Formas de pagamento</h1></a></li><br/>
               <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Reembolso</h1></a></li>
            </ul>
            <ul> 
               <h1 class="textofooter">Cliente:</h1><br/>
               <li><a href="Conta.html" class="footerlinks"><h1 class="textofooter2">Minha conta</h1></a></li><br/>
               <li><a href="Conta.html" class="footerlinks"><h1 class="textofooter2">Meus pedidos</h1></a></li><br/>
               <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Atendimento ao cliente</h1></a></li><br/>
            </ul>
            <ul>
                <h1 class="textofooter">Ajuda:</h1><br/> 
                <li><a href="Atendimento.html" class="footerlinks"><h1 class="textofooter2">Fale conosco</h1></a></li><br/>
                <li><a href="Politica De Privacidade.html" class="footerlinks"><h1 class="textofooter2">Política de privacidade</h1></a></li><br/>
                <li><a href="teste.html" class="footerlinks"><h1 class="textofooter2">Sobre nós</h1></a></li><br/> 
            </ul>
        </div>
        <p class="meio">&copy; 2023 Motherboard Tecnologic. Todos os direitos reservados.</p>
    </footer>






 
</body>
</html>